@model PagedList.IPagedList<SMS.Models.EF.Go_Out>
@using PagedList.Mvc;

@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Assets/css/jquery.timepicker.min.css" rel="stylesheet" />
    <link href="~/Assets/css/jquery-confirm.css" rel="stylesheet" />
    <style>
        label {
            color: black;
        }
    </style>
}

@using (Html.BeginForm("History", "GoOut", FormMethod.Get))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <!--Div chứa table dữ liệu-->
    <div style="width:100%">
        <div class="card-header">
            <h5 class="m-0 font-weight-bold text-primary">DANH SÁCH CNV RA NGOÀI</h5>
        </div>
        <div class="row dataTables_wrapper dt-bootstrap4 above-table">
            <div class="col-2 input-group input-group-sm">
                <label class="no-margin-bottom" style="padding-top: 5px">Từ ngày</label>
                &nbsp;
                <input id="date_from" class="form-control bg-light from-date" readonly>
            </div>
            <div class="col-2 input-group input-group-sm">
                <label class="no-margin-bottom" style="padding-top: 5px">Đến ngày</label>
                &nbsp;
                <input id="date_to" class="form-control bg-light to-date" readonly>
            </div>
            <div class="col-2 input-group input-group-sm">
                <label class="no-margin-bottom" style="padding-top: 5px">Phòng ban</label>
                &nbsp;
                <input id="team" class="form-control bg-light to-date">
            </div>
            <div class="col-2 input-group input-group-sm">
                <label class="no-margin-bottom" style="padding-top: 5px">Mã nhân viên</label>
                &nbsp;
                <input id="emp_code" class="form-control bg-light to-date">
            </div>
            <div class="col-2 input-group input-group-sm">
                <label class="no-margin-bottom" style="padding-top: 5px">Ca làm việc</label>
                &nbsp;
                <select class="form-control from-date">
                    <option value="0">Hành chính</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <div class="col-2">
                <button class="btn btn-sm btn-primary" id="btn-search"><i class="fas fa-search"></i> Tìm kiếm</button>
            </div>
        </div>

        <div style="margin-top: 8px">
            <div class="button-container" style="float: left">
                <a class="btn btn-sm btn-success btn-reload"><i class="fas fa-sync"></i> Tải lại</a>
            </div>
            <div style="float: right">
                <form class="radio-container">
                    <label class="checkbox-inline radio-button">
                        <input class="radio" type="checkbox" checked>Tất cả
                    </label>
                    <label class="checkbox-inline radio-button">
                        <input class="radio" type="checkbox">Chưa phê duyệt
                    </label>
                    <label class="checkbox-inline radio-button">
                        <input class="radio" type="checkbox">Đã phê duyệt
                    </label>
                    <label class="checkbox-inline radio-button">
                        <input class="radio" type="checkbox">Phê duyệt thay
                    </label>
                    <label class="checkbox-inline radio-button">
                        <input class="radio" type="checkbox">Hủy bỏ
                    </label>
                    <label class="checkbox-inline radio-button">
                        <input class="radio" type="checkbox">Bảo vệ đã xác nhận
                    </label>
                    <label class="checkbox-inline radio-button">
                        <input class="radio" type="checkbox">Bảo vệ chưa xác nhận
                    </label>
                </form>
            </div>
        </div>

        <div style="width:100%; overflow-x:auto">
            <!--Bảng dữ liệu Về sớm-->
            <table class="table table-hover table-bordered">
                <!--Tiêu đề cột-->
                <tr class="table-heading">
                    <th>
                        @Html.DisplayName("Mã")
                    </th>
                    <th colspan="2">
                        @Html.DisplayName("Nhân viên")
                    </th>
                    <th>
                        @Html.DisplayName("Vị trí")
                    </th>
                    <th>
                        @Html.DisplayName("Phòng ban")
                    </th>
                    <th>
                        @Html.DisplayName("Ca")
                    </th>
                    <th>
                        @Html.DisplayName("Mục đích")
                    </th>
                    <th>
                        @Html.DisplayName("Lí do")
                    </th>
                    <th>
                        @Html.DisplayName("Thời gian ra ngoài")
                    </th>
                    <th>
                        @Html.DisplayName("Thời gian quay lại")
                    </th>
                    <th colspan="2">
                        @Html.DisplayName("Người tạo")
                    </th>
                    <th class="th-1" colspan="2">Thao tác</th>
                    <th colspan="4">
                        @Html.DisplayName("Phê duyệt")
                    </th>
                    <th colspan="8">
                        @Html.DisplayName("Bảo vệ")
                    </th>
                    <th colspan="2">
                        @Html.DisplayName("Chỉnh sửa")
                    </th>
                </tr>
                <!--Row dữ liệu bảng về sớm-->
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <span>RGO</span>@Html.DisplayFor(modelItem => item.ID)@Html.DisplayFor(modelItem => item.Team)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpCode)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Position)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Team)
                        </td>
                        <td>
                            @if (item.Shift == 0)
                            {
                                <p style="display:inherit">Hành chính</p>
                            }
                            else
                            {
                                @Html.DisplayFor(modelItem => item.Shift)
                            }
                        </td>
                        <td>
                            @if (item.Purpose)
                            {
                                <p style="display:inherit">Công việc</p>
                            }
                            else
                            {
                                <p style="display:inherit">Cá nhân</p>
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Reason)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstimatedDateOut) | @Html.DisplayFor(modelItem => item.EstimatedTimeOut)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EstimatedDateReturn) | @Html.DisplayFor(modelItem => item.EstimatedTimeReturn)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.CreatedDate)
                        </td>
                        <td class="col-sticky-11" style="text-align: left">
                            @if ((User as SMS.Web.Models.CustomPrincipal).PriorityRole > 1)
                            {
                                if (item.ApprovedStatus == 1 || item.ApprovedStatus == 2)
                                {
                                    <a class="btn btn-cancel btn-danger btn-standard" data-toggle="modal" data-target="#rejectModal" title="Hủy bỏ" onclick="cancel(@item.ID)">
                                        <i class="fas fa-lock" style="margin-left: -3px"></i>
                                    </a>
                                }
                                else if (item.ApprovedStatus == null || item.ApprovedStatus == 3)
                                {
                                    <a class="btn btn-edit btn-standard btn-white" href="/GoOut/Edit/@item.ID" title="Sửa">
                                        <i class="icon fas fa-cog" style="margin-left: -4px"></i>
                                    </a>
                                    <a class="btn btn-danger btn-standard btn-delete" data-toggle="modal" data-target="#deleteModal" title="Xóa" onclick="handleRefId(@item.ID)">
                                        <i class="icon fas fa-times" style="margin-left: -2px; color: white; cursor: pointer"></i>
                                    </a>
                                }
                                else if (item.ApprovedStatus == 4)
                                {
                                    <b class="red">Hủy bỏ</b>
                                }
                            }
                        </td>
                        <td class="col-sticky-12">
                            @if ((User as SMS.Web.Models.CustomPrincipal).PriorityRole > 1)
                            {
                                if (item.ApprovedStatus == 1 || item.ApprovedStatus == 2)
                                {
                                    <a class="btn btn-print btn-primary btn-standard" href="/GoOut/GOReport/@item.ID" target="_blank" title="In báo cáo">
                                        <i class="fas fa-print" style="margin-left:-3.5px;"></i>
                                    </a>
                                    @*<button class="btn-print btn-primary"><i class="fas fa-print"></i></button>*@
                                }
                            }
                        </td>
                        <td>
                            @if (item.ApprovedBy != null)
                            {
                                @Html.DisplayFor(modelItem => item.ApprovedBy)
                            }
                        </td>
                        <td>
                            @if (item.ApprovedDate != null)
                            {
                                @Html.DisplayFor(modelItem => item.ApprovedDate)
                            }
                        </td>
                        <td>
                            @if (item.ApprovedStatus == 1)
                            {
                                <i class="fas fa-check-square" style="color:dodgerblue" title="Đã phê duyệt"></i>
                            }
                            else if (item.ApprovedStatus == 0)
                            {
                                <i class="fas fa-window-close" style="color:red" title="Không phê duyệt"></i>
                            }
                            else if (item.ApprovedStatus == 2)
                            {
                                <i class="fas fa-user-check" style="color:orange" title="Phê duyệt thay"></i>
                            }
                        </td>
                        <td>
                            @if (item.ApproverRemark != null)
                            {
                                @Html.DisplayFor(modelItem => item.ApproverRemark)
                            }
                        </td>
                        <td>
                            @if (item.GuardOut != null)
                            {
                                @Html.DisplayFor(modelItem => item.GuardOut)
                            }
                        </td>
                        <td>
                            @if (item.GuardStatusOut == 1)
                            {
                                <i class="fas fa-check-square" style="color:dodgerblue" title="Đã xác nhận"></i>
                            }
                            else if (item.GuardStatusOut == 0)
                            {
                                <i class="fas fa-times" style="color:red" title="Không xác nhận"></i>
                            }

                        </td>
                        <td>
                            @if (item.GuardDateOut != null)
                            {
                                @Html.DisplayFor(modelItem => item.GuardDateOut)
                            }
                        </td>
                        <td>
                            @if (item.GuardRemarkOut != null)
                            {
                                @Html.DisplayFor(modelItem => item.GuardRemarkOut)
                            }
                        </td>
                        <td>
                            @if (item.GuardReturn != null)
                            {
                                @Html.DisplayFor(modelItem => item.GuardReturn)
                            }
                        </td>
                        <td>
                            @if (item.GuardStatusReturn == 1)
                            {
                                <i class="fas fa-check-square" style="color:dodgerblue" title="Đã xác nhận"></i>
                            }
                            else if (item.GuardStatusReturn == 0)
                            {
                                <i class="fas fa-times" style="color:red" title="Không xác nhận"></i>
                            }
                        </td>
                        <td>
                            @if (item.GuardDateReturn != null)
                            {
                                @Html.DisplayFor(modelItem => item.GuardDateReturn)
                            }
                        </td>
                        <td>
                            @if (item.GuardRemarkReturn != null)
                            {
                                @Html.DisplayFor(modelItem => item.GuardRemarkReturn)
                            }
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedBy)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.ModifiedDate)
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
    <div>
        <div class="page-count" style="display:inline-block; vertical-align:middle;">
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
        <div class="pagination" style="display:inline-block; vertical-align:middle; float: right">
            @Html.PagedListPager(Model, page => Url.Action("History", new { page, @searchString = @ViewBag.SearchString, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))
        </div>
    </div>

    <!-- Delete Modal-->
    <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn xóa bản ghi này?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a class="btn btn-danger confirm-delete-GO" id="btn-confirm-delete-GO">Xóa</a>
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Trở lại</button>
                </div>
            </div>
        </div>
    </div>

    <!--Reject Modal-->
    <div class="modal fade" id="rejectModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Bạn có chắc chắn muốn hủy bỏ yêu cầu?</h5>
                    <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <div class="modal-footer">
                    <a id="btn-confirm-reject-GO" class="btn btn-primary" style="cursor:pointer; background-color: orange; border-color: orange; color: white">Hủy bỏ</a>
                    <button class="btn btn-primary" type="button" data-dismiss="modal">Trở lại</button>
                </div>
            </div>
        </div>
    </div>
    <!-- /.container-fluid -->

    <!--Script custome-->
    <script>
        function handleRefId(goOutId) {
            $("#btn-confirm-delete-GO").attr("href", "/GoOut/Delete/" + goOutId)
        }
        function cancel(goOutId) {
            $("#btn-confirm-reject-GO").attr("href", "/GoOut/Cancel/" + goOutId)
        }
    </script>
}

@section scripts{
    <script src="~/Assets/js/jquery.timepicker.min.js"></script>
    <script src="~/Assets/js/jquery-confirm.js"></script>
    <script src="~/Assets/js/go_out/common.js"></script>

    <script>
        $("#GO").removeClass('collapse');
        $("#GO").removeClass('collapsed');
        $("#GO").attr("aria-expanded", "true");
        $("#GOHistory").addClass('active');
        $("#collapseGoOut").addClass('show');
        $("#collapseInOut").removeClass('collapse');
    </script>
}