@model List<SMS.Models.EF.Leave_Early>

@{
    ViewBag.Title = "SummaryLE";
}

<link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="~/Assets/css/fonts-gg.css" rel="stylesheet" />
<link href="~/Assets/css/jquery-ui.css" rel="stylesheet" />
<link href="~/Assets/css/sb-admin-2.min.css" rel="stylesheet">
<link href="~/Assets/css/customize.css" rel="stylesheet" />
<link href="~/Assets/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Assets/css/jquery-confirm.css" rel="stylesheet" />
<link href="~/Assets/css/jquery.timepicker.min.css" rel="stylesheet" />
<style>
    body {
        color: black !important;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid black !important;
    }

    label {
        color: black;
    }

    .center {
        text-align: center;
    }

    .normal {
        font-size: 18px;
    }
</style>

<div class="row dataTables_wrapper dt-bootstrap4 above-table">
    <div class="col-2 input-group input-group-sm">
        <label class="no-margin-bottom" style="padding-top: 5px">Từ ngày</label>
        &nbsp;
        <input id="date_from" readonly>
    </div>
    <div class="col-2 input-group input-group-sm">
        <label class="no-margin-bottom" style="padding-top: 5px">Đến ngày</label>
        &nbsp;
        <input id="date_to" readonly>
    </div>
    <div class="col-2 input-group input-group-sm">
        <label class="no-margin-bottom" style="padding-top: 5px">Phòng ban</label>
        &nbsp;
        <input id="team">
    </div>
    <div class="col-2 input-group input-group-sm">
        <label class="no-margin-bottom" style="padding-top: 5px">Mã nhân viên</label>
        &nbsp;
        <input id="emp_code">
    </div>
    <div class="col-2 input-group input-group-sm">
        <label class="no-margin-bottom" style="padding-top: 5px">Ca làm việc</label>
        &nbsp;
        <select>
            <option value="0">Hành chính</option>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
        </select>
    </div>
</div>
<br />

@using (Html.BeginForm("SummaryLE", "LeaveEarly", FormMethod.Get))
{
    <div style="width: 100%">
        <br />
        <div style="text-align: center; color: black">
            <h5 style="font-size:30px; color: black" class="m-0 font-weight-bold">CÔNG NHÂN VIÊN VỀ SỚM</h5>
        </div>
        <div class="center">
            <span class="normal">EARLY LEAVE</span>
        </div>
        <br />
        <br />
        <div>
            <table class="table table-bordered" style="border: 1px solid black !important">
                <tr>
                    <th>Mã</th>
                    <th colspan="2">Nhân viên</th>
                    <th>Phòng ban</th>
                    <th>Mục đích</th>
                    <th>Giờ ra</th>
                    <th>Phê duyệt</th>
                    <th>Giờ ra thực tế</th>
                    <th>Bảo vệ xác nhận</th>
                </tr>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="col-sticky-1">
                            <span>REL</span>@Html.DisplayFor(modelItem => item.ID)@Html.DisplayFor(modelItem => item.Team)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.EmpCode)
                        </td>
                        <td class="col-sticky-2">
                            @Html.DisplayFor(modelItem => item.FullName)
                        </td>
                        <td class="col-sticky-4">
                            @Html.DisplayFor(modelItem => item.Team)
                        </td>
                        <td class="col-sticky-6" style="text-align:center; vertical-align: central">
                            @if (item.Purpose)
                            {
                                <p>Công việc</p>
                            }
                            else
                            {
                                <p>Cá nhân</p>
                            }
                        </td>
                        <td class="col-sticky-8">
                            @Html.DisplayFor(modelItem => item.EstimatedDate) | @Html.DisplayFor(modelItem => item.EstimatedTime)
                        </td>
                        <td>
                            @if (item.ApprovedStatus == 1)
                            {
                                <i class="fas fa-check-square" style="color:dodgerblue" title="Đã phê duyệt"></i>
                            }
                            else if (item.ApprovedStatus == 0)
                            {
                                <i class="fas fa-window-close" style="color:red" title="Không phê duyệt"></i>
                            }
                            else if (item.ApprovedStatus == 2)
                            {
                                <i class="fas fa-user-check" style="color:orange" title="Phê duyệt thay"></i>
                            }
                            else if (item.ApprovedStatus == 4)
                            {
                            }
                        </td>
                        <td>
                            @if (item.GuardDate != null)
                            {
                                @Html.DisplayFor(modelItem => item.GuardDate)
                            }
                        </td>
                        <td>
                            @if (item.GuardStatus == 1)
                            {
                                <i class="fas fa-check-square" style="color:dodgerblue" title="Đã xác nhận"></i>
                            }
                            else if (item.GuardStatus == 0)
                            {
                                <i class="fas fa-window-close" style="color:red" title="Không xác nhận"></i>
                            }
                        </td>
                    </tr>
                }
            </table>
        </div>
    </div>
}

<script>
    $('#estimated_date_out, #estimated_date_return, #date_from, #date_to').datepicker({
        dateFormat: 'dd/mm/yy'
    });

    $('#estimated_date_out, #estimated_date_return, #date_from, #date_to').datepicker().datepicker("setDate", new Date());

    $('.timepicker, #estimated_time_out, #estimated_time_return').timepicker({
        timeFormat: 'h:mm p',
        interval: 5,
        startTime: '00:00',
        dynamic: false,
        dropdown: true,
        scrollbar: true
    });
</script>
