@model SMS.Models.EF.Bring_Out

@{
    Layout = null;
}

<link href="~/Assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
<link href="~/Assets/css/fonts-gg.css" rel="stylesheet" />
<link href="~/Assets/css/jquery-ui.css" rel="stylesheet" />
<link href="~/Assets/css/sb-admin-2.min.css" rel="stylesheet">
<link href="~/Assets/css/customize.css" rel="stylesheet" />
<link href="~/Assets/css/jquery.dataTables.min.css" rel="stylesheet" />
<link href="~/Assets/css/jquery-confirm.css" rel="stylesheet" />
<link href="~/Assets/css/jquery.timepicker.min.css" rel="stylesheet" />
<style>
    body {
        color: black !important;
    }

    .table-bordered td, .table-bordered th {
        border: 1px solid black !important;
    }

    label {
        color: black;
    }

    .center {
        text-align: center;
    }

    .normal {
        font-size: 18px;
    }
</style>

<div style="width:100%">
    <br />
    <br />
    <br />
    <br />
    <div style="text-align: center; color: black">
        <img style="width: 200px; position: absolute; left:9%; top:2%" src="~/Assets/img/logo.png" />
        <h5 style="font-size:30px; color: black" class="m-0 font-weight-bold">GIẤY XÁC NHẬN MANG HÀNG VÀO</h5>
    </div>
    <div class="center">
        <span class="normal">BRING IN CONFIRMATION</span>
    </div>
    <div class="center">
        <span class="normal">Mã đăng ký (ID): </span><b class="normal"><span>RBI</span><span>@Html.DisplayFor(model => model.ID)</span><span>@Html.DisplayFor(model => model.Team)</span></b>
    </div>
    <div class="center">
        <span class="normal">Ngày đăng ký (Created Date): </span>&nbsp;<b class="normal">@Html.DisplayFor(model => model.CreatedDate)</b>
    </div>
    <br />
    <div class="row">
        <ul style="list-style-type: disc">
            <li><u class="normal">THÔNG TIN NHÂN VIÊN (<i>Employee Information</i>):</u></li>
        </ul>
    </div>
    <br />
    <div class="col-12 row">
        <div class="col-8"><span class="normal">Tên nhân viên (<i>Employee Name</i>): </span>&nbsp;<b class="normal">@Html.DisplayFor(model => model.FullName)</b></div>
        <div class="col-4"><span class="normal">Vị trí (<i>Position</i>): </span>&nbsp;<b class="normal">@Html.DisplayFor(model => model.Position)</b></div>
    </div>
    <div class="col-12 row">
        <div class="col-8"><span class="normal">Mã nhân viên (<i>Employee Code</i>): </span>&nbsp;<b class="normal">@Html.DisplayFor(model => model.EmpCode)</b></div>
        <div class="col-4"><span class="normal">Phòng ban (<i>Team</i>): </span>&nbsp;<b class="normal">@Html.DisplayFor(model => model.Team)</b></div>
    </div>
    <br />
    <div class="row">
        <ul style="list-style-type: disc">
            <li><u class="normal">THÔNG TIN TÀI SẢN (<i>Employee Information</i>):</u></li>
        </ul>
    </div>
    <div class="col-12 row">
        <div class="col-12"><span class="normal">Mục đích (<i>Purpose</i>): </span>&nbsp;<b class="normal">@Html.DisplayFor(model => model.Reason)</b></div>
    </div>
    <div class="col-12 row">
        <div class="col-12"><span class="normal">Thời gian dự kiến (<i>Estimated Date In</i>): </span>&nbsp;<b class="normal">@Html.DisplayFor(model => model.EstimatedDate)</b>&nbsp;<b class="normal">@Html.DisplayFor(model => model.EstimatedTime)</b></div>
    </div>
    <br />
    <div>
        <table class="table table-bordered" style="border: 1px solid black !important">
            <tr>
                <th>Mã</th>
                <th>Tài sản <br />(Assets Name)</th>
                <th>Thông số <br />(Serial)</th>
                <th>Số lượng <br />(Qty)</th>
                <th>Đơn vị <br />(Approved by)</th>
                <th>Loại hàng <br />(Asset type)</th>
                <th colspan="2">Mang ra<br /> (Return)</th>
                <th>TM phê duyệt<br /> (Approved by)</th>
                <th>ITT/SMT phê duyệt<br /> (ITT/SMT Approved)</th>
                <th>FST phê duyệt<br /> (FST Approved)</th>
                <th>Bảo vệ<br /> (Vào/In)</th>
                <th>Bảo vệ<br /> (Ra/Out)</th>
            </tr>
            <tr>
                @foreach (var item in Model.Bring_Out_Items)
                {
                <tr class="row-items">
                    <td class="input-group-sm">@item.ID</td>
                    <td class="input-group-sm">@item.Item</td>
                    <td class="input-group-sm">@item.Serial</td>
                    <td class="input-group-sm">@item.Quantity</td>
                    <td class="input-group-sm">@item.Unit</td>
                    <td class="input-group-sm">
                        @if (item.AssetType == 0)
                        {
                            <span>Hàng thường</span>
                        }
                        else if (item.AssetType == 1)
                        {
                            <span>Hàng IT</span>
                        }
                        else if (item.AssetType == 2)
                        {
                            <span>Hàng độc hại</span>
                        }
                    </td>
                    <td class="input-group-sm">
                        @if (item.IsReturn.Value == true)
                        {
                            <span>Có</span>
                        }
                        else if (item.IsReturn == false)
                        {
                            <span>Không</span>
                        }
                    </td>
                    <td class="input-group-sm">@item.ReturnDate&nbsp;@item.ReturnTime</td>
                    <td class="input-group-sm">
                        @if (@item.ApprovedStatus == 1)
                        {
                            <i class="fas fa-check-square" style="color: dodgerblue"></i>
                        }
                        else if (@item.ApprovedStatus == 0)
                        {
                            <i class="fas fa-times" style="color: red"></i>
                        }
                        <br />
                        @item.ApprovedBy
                        <br />
                        @item.ApprovedDate
                    </td>
                    <td>
                        @if (@item.ITT_Status == 1)
                        {
                            <i class="fas fa-check-square" style="color: dodgerblue"></i>
                        }
                        else if (@item.ITT_Status == 0)
                        {
                            <i class="fas fa-times" style="color: red"></i>
                        }
                        <br />
                        @item.ITT
                        <br />
                        @item.ITT_Date
                    </td>
                    <td>
                        @if (@item.FST_Status == 1)
                        {
                            <i class="fas fa-check-square" style="color: dodgerblue"></i>
                        }
                        else if (@item.FST_Status == 0)
                        {
                            <i class="fas fa-times" style="color: red"></i>
                        }
                        <br />
                        @item.FST
                        <br />
                        @item.FST_Date
                    </td>
                    <td>
                        @if (@item.GuardStatusOut == 1)
                        {
                            <i class="fas fa-check-square" style="color: dodgerblue"></i>
                        }
                        else if (@item.GuardStatusOut == 0)
                        {
                            <i class="fas fa-times" style="color: red"></i>
                        }
                        <br />
                        @item.GuardOut
                        <br />
                        @item.GuardDateOut
                    </td>
                    <td>
                        @if (@item.GuardStatusReturn == 1)
                        {
                            <i class="fas fa-check-square" style="color: dodgerblue"></i>
                        }
                        else if (@item.GuardStatusReturn == 0)
                        {
                            <i class="fas fa-times" style="color: red"></i>
                        }
                        <br />
                        @item.GuardReturn
                        <br />
                        @item.GuardDateReturn
                    </td>
                </tr>
            }

            </table>
        </div>
    </div>
    <br />
    <div class="row col-12">
        <div class="col-1"></div>
        <ul style="list-style-type: disc">
            <li class="normal">Khai báo đầy đủ, trung thực các thông tin yêu cầu</li>
            <span style="font-size: 18px" class="nomarl"><i>Register all required informations</i></span>
            <li class="normal">Các loại hàng IT chỉ được phép mang ra với sự đồng ý của phòng SMT hoặc ITT</li>
            <span style="font-size: 18px" class="nomarl"><i>Approval of SMT are required to bring out IT goods</i></span>
            <li class="normal">Các loại hàng nguy hiểm cần sự cho phép của phòng FST để mang ra</li>
            <span style="font-size: 18px" class="nomarl"><i>Approval of FST is required to bring out dangerous goods</i></span>
        </ul>
    </div>
    <br />
    <div>
        <table class="table table-bordered" style="border: 1px solid black !important">
            <tr>
                <th height="80">Người đăng ký<br />(Created by)</th>
                <th>TM xác nhận <br />(Approved by)</th>
                <th>ITT/SMT xác nhận <br />(ITT/SMT Approved)</th>
                <th>FST xác nhận <br />(FST Approved)</th>
                <th colspan="2">Bảo vệ xác nhận (Guard) (Ra/Out)</th>
            </tr>
            <tr>
                <td height="100"><b class="normal">@Html.DisplayFor(model => model.CreatedBy)</b></td>
                <td height="100"></td>
                <td height="100"></td>
                <td height="100"></td>
                <td height="100"></td>
                <td height="100"></td>
            </tr>
        </table>
    </div>
    <br />
    <div class="row col-12">
        <div class="col-1"></div>
        <ul style="list-style-type: disc">
            <li class="normal"><u>PHẦN DÀNH CHO BẢO VỆ:</u></li>
            <span style="font-size: 18px" class="nomarl">.......................................................................................................................................</span>
        </ul>
    </div>
