@model SMS.Models.EF.Bring_Out
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Assets/css/jquery.timepicker.min.css" rel="stylesheet" />
    <link href="~/Assets/css/jquery-confirm.css" rel="stylesheet" />
}

<div class="form-horizontal">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-primary">THÔNG TIN TÀI SẢN MANG RA</h5>
    </div>
    <!--Cột bên trái dành cho form đăng ký-->
    <div class="col-md-12 row-form">
        <div class="column form-horizontal form-left col-md-7">
            <div class="form-group row-1 input-group">
                <label class="control-label col-md-2 lb">Mã CNV</label>
                <div class="col-md-3 input-group input-group-sm">
                    <input type="hidden" id="txtID" value="@Model.ID" />
                    <input class="form-control input-previous-button col-md-12" id="txtEmpCodeBO" value="@Model.EmpCode" readonly />
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2">Lý do</label>
                <div class="col-md-10 input-group-sm">
                    <textarea class="form-control col-md-12" style="resize: none" id="reason" readonly>@Model.Reason</textarea>
                </div>
            </div>

            <div class="form-group input-group specific-date-pick">
                <label class="col-2 top-space" for="EstimatedDate">Ngày đăng ký</label>
                <div class="col-3 input-group-sm">
                    <input class="form-control input-previous-button datepicker" id="estimated_date" placeholder="Ngày" value="@Model.EstimatedDate" readonly />
                </div>
                <label class="top-space" for="EstimatedTime">Giờ đăng ký</label>
                <div class="col-2 input-group-sm">
                    <input class="form-control input-previous-button timepicker" id="estimated_time" placeholder="Giờ" value="@Model.EstimatedTime" readonly />
                    <input type="hidden" id="txtStatus" value="@Model.Status" />
                    <input type="hidden" id="txtCreatedBy" value="@Model.CreatedBy" />
                    <input type="hidden" id="txtCreatedDate" value="@Model.CreatedDate" />
                </div>
            </div>
        </div>

        <div class="column col-md-1 col-mid"></div>

        <!--Cột bên phải dành cho thông tin nhân viên-->
        <div class="column form-horizontal form-right col-md-4">
            <!--Ảnh profile-->
            <div class="form-group col-12 profile-img">
                <div class="img-profile">
                    <img id="img-profile" src="~/Assets/img/the-world.jpg" />
                </div>
            </div>
            <!--Thông tin profile-->
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Họ và tên</label>
                <input readonly class="form-control input-previous-button col-9 " id="txtFullNameBO" value="@Model.FullName" disabled />
            </div>
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Vị trí</label>
                <input readonly class="form-control input-previous-button col-9 " id="txtPositionBO" value="@Model.Position" disabled />
            </div>
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Phòng ban</label>
                <input readonly class="form-control input-previous-button col-9 " id="txtTeamBO" value="@Model.Team" disabled />
            </div>
        </div>
    </div>
</div>

<br />

<div class="bottom collapse show">
    <div class="form-horizontal col-12 row-add" id="bring-out-items" style="width: 100%">
        <div class="items-container">
            <table class="table-bordered table table-hover" id="BO-items">
                <thead>
                    <tr class="table-header-items">
                        <th>Tên tài sản</th>
                        <th>Serial</th>
                        <th>Số lượng</th>
                        <th>Đơn vị</th>
                        <th>Loại tài sản</th>
                        <th>Mang quay lại</th>
                        <th>Thời gian quay lại</th>
                        <th colspan="4">TM Phê duyệt</th>
                        <th colspan="4">ITT/SMT phê duyệt</th>
                        <th colspan="4">FST phê duyệt</th>
                        <th colspan="4">Bảo vệ (Ra)</th>
                        <th colspan="4">Bảo vệ (Quay lại)</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Bring_Out_Items)
                    {
                        var now = DateTime.Now.ToString("dd/MM/yyyy");
                        var style = (item.ReturnDate != null && DateTime.Compare(DateTime.ParseExact(item.ReturnDate, "dd/MM/yyyy", null), DateTime.ParseExact(now, "dd/MM/yyyy", null)) < 0 && item.GuardStatusReturn == null) ? "color:red" : "";
                        <tr class="row-items" style="@style">
                            <td class="input-group-sm"><input type="hidden" class="ItemId" value="@item.ID" />@item.Item</td>
                            <td class="input-group-sm">@item.Serial</td>
                            <td class="input-group-sm">@item.Quantity</td>
                            <td class="input-group-sm">@item.Unit</td>
                            <td class="input-group-sm">
                                @if (item.AssetType == 0)
                                {
                                    <span>Hàng thường</span>
                                }
                                else if (item.AssetType == 1)
                                {
                                    <span>Hàng IT</span>
                                }
                                else if (item.AssetType == 2)
                                {
                                    <span>Hàng độc hại</span>
                                }
                            </td>
                            <td class="input-group-sm">
                                @if (item.IsReturn.Value == true)
                                {
                                    <span>Có</span>
                                }
                                else if (item.IsReturn == false)
                                {
                                    <span>Không</span>
                                }
                            </td>
                            <td class="input-group-sm">@item.ReturnDate @item.ReturnTime</td>
                            <td class="input-group-sm">
                                @if (@item.ApprovedBy != null)
                                {
                                    @item.ApprovedBy
                                }
                                else
                                {
                                    <i class="fas fa-question" title="Đang chờ Trưởng phòng PIC phê duyệt"></i>
                                }

                            </td>
                            <td class="input-group-sm">
                                @if (@item.ApprovedStatus == 1)
                                {
                                    <i class="fas fa-check-square" style="color: dodgerblue"></i>
                                }
                                else if (@item.ApprovedStatus == 0)
                                {
                                    <i class="fas fa-times" style="color: red"></i>
                                }
                            </td>
                            <td class="input-group-sm">@item.ApprovedDate</td>
                            <td class="input-group-sm">@item.ApproverRemark</td>
                            <td class="input-group-sm">
                                @if (item.AssetType == 1 && item.ITT != null)
                                {
                                    @item.ITT
                                }
                                else if (item.AssetType == 1 && item.ITT == null)
                                {
                                    <i class="fas fa-question" title="Đang chờ Trưởng phòng SMT phê duyệt"></i>
                                }
                            </td>
                            <td class="input-group-sm">
                                @if (@item.ITT_Status == 1)
                                {
                                    <i class="fas fa-check-square" style="color: dodgerblue"></i>
                                }
                                else if (@item.ITT_Status == 0)
                                {
                                    <i class="fas fa-times" style="color: red"></i>
                                }
                            </td>
                            <td class="input-group-sm">@item.ITT_Date</td>
                            <td class="input-group-sm">@item.ITT_Remark</td>
                            <td class="input-group-sm">
                                @if (item.AssetType == 2 && item.FST != null)
                                {
                                    @item.FST
                                }
                                else if (item.AssetType == 2 && item.FST == null)
                                {
                                    <i class="fas fa-question" title="Đang chờ Trưởng phòng FST phê duyệt"></i>
                                }
                            </td>
                            <td class="input-group-sm">
                                @if (@item.FST_Status == 1)
                                {
                                    <i class="fas fa-check-square" style="color: dodgerblue"></i>
                                }
                                else if (@item.FST_Status == 0)
                                {
                                    <i class="fas fa-times" style="color: red"></i>
                                }
                            </td>
                            <td class="input-group-sm">@item.FST_Date</td>
                            <td class="input-group-sm">@item.FST_Remark</td>
                            <td class="input-group-sm">
                                @if (item.GuardOut != null)
                                {
                                    @item.GuardOut
                                }
                                else
                                {
                                    <i class="fas fa-question" title="Đang chờ Bảo vệ xác nhận mang ra"></i>
                                }
                            </td>
                            <td class="input-group-sm">
                                @if (@item.GuardStatusOut == 1)
                                {
                                    <i class="fas fa-check-square" style="color: dodgerblue"></i>
                                }
                                else if (@item.GuardStatusOut == 0)
                                {
                                    <i class="fas fa-times" style="color: red"></i>
                                }
                            </td>
                            <td class="input-group-sm">@item.GuardDateOut</td>
                            <td class="input-group-sm">@item.GuardRemarkOut</td>
                            <td class="input-group-sm">
                                @if (item.GuardReturn != null)
                                {
                                    @item.GuardReturn
                                }
                                else
                                {
                                    <i class="fas fa-question" title="Đang chờ Bảo vệ xác nhận mang trở lại"></i>
                                }
                            </td>
                            <td class="input-group-sm">
                                @if (@item.GuardStatusReturn == 1)
                                {
                                    <i class="fas fa-check-square" style="color: dodgerblue"></i>
                                }
                                else if (@item.GuardStatusReturn == 0)
                                {
                                    <i class="fas fa-times" style="color: red"></i>
                                }
                            </td>
                            <td class="input-group-sm">@item.GuardDateReturn</td>
                            <td class="input-group-sm">@item.GuardRemarkReturn</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div style="text-align: center">
        <label id="return-history" class="btn-cancel btn top-space btn-sm" title="Trở lại" style="cursor: pointer">
            <i class="fas fa-arrow-left"></i>&nbsp; Trở lại
        </label>
    </div>
</div>
@section scripts{
    <script src="~/Assets/js/bring_out/common.js"></script>
    <script>
        $("#return-history").on("click", () => {
            window.location.href = "/BringOut/History"
        });

        $("#BO").removeClass('collapse');
        $("#BO").removeClass('collapsed');
        $("#BO").attr("aria-expanded", "true");
        $("#BOHistory").addClass('active');
        $("#collapseBringOut").addClass('show');
        $("#collapseInOut").removeClass('collapse');
    </script>
}

