@model List<SMS.Web.ViewModels.UserRoleViewModel>
@using SMS.Models.EF

@{
    ViewBag.Title = "Delegate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-primary">CẤP QUYỀN TRUY CẬP</h5>
    </div>
    <!--Cột bên trái dành cho form đăng ký-->
    <div class="col-md-12 row-form">
        <div class="column form-horizontal form-left col-md-7">
            <div class="form-group row-1 input-group">
                <label class="control-label col-md-2 lb">Mã CNV <span class="red">(*)</span></label>
                <div class="col-md-3 input-group input-group-sm">
                    <input class="form-control input-previous-button col-md-12" id="txtEmployeeID" maxlength="8" />
                </div>
            </div>

            <div class="form-group row-1 input-group">
                <label class="control-label col-md-2 lb">Quyền hạn</label>
                <div class="col-md-10">
                    <form class="radio-container">
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" name="admin" id="admin">Admin
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="sub_admin">Sub Admin
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="pic">PIC
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="itt_team_manager">ITT Team Manager
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="smt_team_manager">SMT Team Manager
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="fst_team_manager">FST Team Manager
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="pic_team_manager">PIC Team Manager
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="group_leader">Group Leader
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="guard">Bảo vệ
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="read_only">Chỉ đọc
                        </label>
                    </form>
                </div>
            </div>
            <div class="form-group input-group-sm row col-12">
                <div class="col-2"></div>
                <div class="col-2">
                    <button type="button" class="btn btn-sm btn-primary" title="Cấp quyền" value="Create" onclick="handleSubmit()"><i class="fas fa-edit"></i> Cấp quyền</button>
                </div>
            </div>
        </div>

        <div class="column col-1 col-mid"></div>

        <!--Cột bên phải dành cho thông tin nhân viên-->
        <div class="column form-horizontal form-right col-md-4">
            <!--Ảnh profile-->
            <div class="form-group col-12 profile-img">
                <div class="img-profile">
                    <img src="~/Assets/img/the-world.jpg" />
                </div>
            </div>
            <!--Thông tin profile-->
            <div class="form-group input-group input-group-sm">
                <label class="col-3 top-space" for="FullName">Họ và tên</label>
                <input readonly class="form-control col-9 input-previous-button" id="txtFullNameBI" />
            </div>
            <div class="form-group input-group input-group-sm">
                <label class="col-3 top-space" for="Positon">Vị trí</label>
                <input readonly class="form-control col-9 input-previous-button" id="txtPositionBI" />
            </div>
            <div class="form-group input-group input-group-sm">
                <label class="col-3 top-space" for="Positon">Phòng ban</label>
                <input readonly class="form-control col-9 input-previous-button" id="txtTeamBI" />
            </div>
        </div>
    </div>
</div>

<br />

<div class="row col-12">
    <div class="col-6 form-horizontal">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">DANH SÁCH ADMIN & SUB ADMIN</h6>
        </div>
        <div style="width:100%; overflow-x:auto">
            <!--Bảng dữ liệu Về sớm-->
            <table class="table table-hover table-bordered" id="Emp-table" style="border-collapse: collapse; width: 100%">
                <!--Tiêu đề cột-->
                <thead>
                    <tr class="table-heading">
                        <th class="th-1">Mã</th>
                        <th class="th-1">Nhân viên</th>
                        <th class="th-1">Vị trí</th>
                        <th class="th-1">Phòng ban</th>
                        <th class="th-1">Quyền hạn</th>
                        <th class="th-1">Trạng thái</th>
                        <th class="th-1">Điện thoại</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var model in Model.FindAll(m => m.Roles.Exists(r => r.ID == 1 || r.ID == 2)))
                        {
                            <tr>
                                <td>@(model.User.EmpCode)</td>
                                <td>@(model.User.FullName)</td>
                                <td>@(model.User.Position)</td>
                                <td>@(model.User.Team.Name)</td>
                                <td>@((model.Roles.Exists(r => r.ID == 1) ? "Admin" : "Sub Admin"))</td>
                                <td>@(model.User.Status == 1 ? "Đang hoạt động" : "")</td>
                                <td>@(model.User.Cellphone)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6 form-horizontal">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">DANH SÁCH PIC TEAM MANAGER</h6>
        </div>
        <div style="width:100%; overflow-x:auto">
            <!--Bảng dữ liệu Về sớm-->
            <table class="table table-hover table-bordered" id="Emp-table" style="border-collapse: collapse; width: 100%">
                <!--Tiêu đề cột-->
                <thead>
                    <tr class="table-heading">
                        <th class="th-1">Mã</th>
                        <th class="th-1">Nhân viên</th>
                        <th class="th-1">Vị trí</th>
                        <th class="th-1">Phòng ban</th>
                        <th class="th-1">Trạng thái</th>
                        <th class="th-1">Điện thoại</th>
                    </tr>
                </thead>
                <tbody id="tblData">
                    @{
                        foreach (var model in Model.FindAll(m => m.Roles.Exists(r => r.ID == 7)))
                        {
                            <tr>
                                <td>@(model.User.EmpCode)</td>
                                <td>@(model.User.FullName)</td>
                                <td>@(model.User.Position)</td>
                                <td>@(model.User.Team.Name)</td>
                                <td>@(model.User.Status == 1 ? "Đang hoạt động" : "")</td>
                                <td>@(model.User.Cellphone)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6 form-horizontal">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">DANH SÁCH SMT TEAM MANAGER</h6>
        </div>
        <div style="width:100%; overflow-x:auto">
            <!--Bảng dữ liệu Về sớm-->
            <table class="table table-hover table-bordered" id="Emp-table" style="border-collapse: collapse; width: 100%">
                <!--Tiêu đề cột-->
                <thead>
                    <tr class="table-heading">
                        <th class="th-1">Mã</th>
                        <th class="th-1">Nhân viên</th>
                        <th class="th-1">Vị trí</th>
                        <th class="th-1">Phòng ban</th>
                        <th class="th-1">Trạng thái</th>
                        <th class="th-1">Điện thoại</th>
                    </tr>
                </thead>
                <tbody id="tblData">
                    @{
                        foreach (var model in Model.FindAll(m => m.Roles.Exists(r => r.ID == 5)))
                        {
                            <tr>
                                <td>@(model.User.EmpCode)</td>
                                <td>@(model.User.FullName)</td>
                                <td>@(model.User.Position)</td>
                                <td>@(model.User.Team.Name)</td>
                                <td>@(model.User.Status == 1 ? "Đang hoạt động" : "")</td>
                                <td>@(model.User.Cellphone)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6 form-horizontal">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">DANH SÁCH FST TEAM MANAGER</h6>
        </div>
        <div style="width:100%; overflow-x:auto">
            <!--Bảng dữ liệu Về sớm-->
            <table class="table table-hover table-bordered" id="Emp-table" style="border-collapse: collapse; width: 100%">
                <!--Tiêu đề cột-->
                <thead>
                    <tr class="table-heading">
                        <th class="th-1">Mã</th>
                        <th class="th-1">Nhân viên</th>
                        <th class="th-1">Vị trí</th>
                        <th class="th-1">Phòng ban</th>
                        <th class="th-1">Trạng thái</th>
                        <th class="th-1">Điện thoại</th>
                    </tr>
                </thead>
                <tbody id="tblData">
                    @{
                        foreach (var model in Model.FindAll(m => m.Roles.Exists(r => r.ID == 6)))
                        {
                            <tr>
                                <td>@(model.User.EmpCode)</td>
                                <td>@(model.User.FullName)</td>
                                <td>@(model.User.Position)</td>
                                <td>@(model.User.Team.Name)</td>
                                <td>@(model.User.Status == 1 ? "Đang hoạt động" : "")</td>
                                <td>@(model.User.Cellphone)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6 form-horizontal">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">DANH SÁCH PIC</h6>
        </div>
        <div style="width:100%; overflow-x:auto">
            <!--Bảng dữ liệu Về sớm-->
            <table class="table table-hover table-bordered" id="Emp-table" style="border-collapse: collapse; width: 100%">
                <!--Tiêu đề cột-->
                <thead>
                    <tr class="table-heading">
                        <th class="th-1">Mã</th>
                        <th class="th-1">Nhân viên</th>
                        <th class="th-1">Vị trí</th>
                        <th class="th-1">Phòng ban</th>
                        <th class="th-1">Trạng thái</th>
                        <th class="th-1">Điện thoại</th>
                    </tr>
                </thead>
                @{
                    foreach (var model in Model.FindAll(m => m.Roles.Exists(r => r.ID == 3)))
                    {
                        <tr>
                            <td>@(model.User.EmpCode)</td>
                            <td>@(model.User.FullName)</td>
                            <td>@(model.User.Position)</td>
                            <td>@(model.User.Team.Name)</td>
                            <td>@(model.User.Status == 1 ? "Đang hoạt động" : "")</td>
                            <td>@(model.User.Cellphone)</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="col-6 form-horizontal">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">DANH SÁCH GROUP LEADER</h6>
        </div>
        <div style="width:100%; overflow-x:auto">
            <!--Bảng dữ liệu Về sớm-->
            <table class="table table-hover table-bordered" id="Emp-table" style="border-collapse: collapse; width: 100%">
                <!--Tiêu đề cột-->
                <thead>
                    <tr class="table-heading">
                        <th class="th-1">Mã</th>
                        <th class="th-1">Nhân viên</th>
                        <th class="th-1">Vị trí</th>
                        <th class="th-1">Phòng ban</th>
                        <th class="th-1">Trạng thái</th>
                        <th class="th-1">Điện thoại</th>
                    </tr>
                </thead>
                <tbody id="tblData">
                    @{
                        foreach (var model in Model.FindAll(m => m.Roles.Exists(r => r.ID == 8)))
                        {
                            <tr>
                                <td>@(model.User.EmpCode)</td>
                                <td>@(model.User.FullName)</td>
                                <td>@(model.User.Position)</td>
                                <td>@(model.User.Team.Name)</td>
                                <td>@(model.User.Status == 1 ? "Đang hoạt động" : "")</td>
                                <td>@(model.User.Cellphone)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $("#DL").removeClass('collapse');
        $("#DL").removeClass('collapsed');
        $("#DL").attr("aria-expanded", "true");
        $("#EditDelegate").addClass('active');
        $("#collapseDelegateTab").addClass('show');
        $("#collapseDelegate").removeClass('collapse');

        function handleSubmit() {
            var roles = [];
            if ($('#admin').is(':checked')) roles.push(1);
            if ($('#sub_admin').is(':checked')) roles.push(2);
            if ($('#pic').is(':checked')) roles.push(3);
            if ($('#itt_team_manager').is(':checked')) roles.push(4);
            if ($('#smt_team_manager').is(':checked')) roles.push(5);
            if ($('#fst_team_manager').is(':checked')) roles.push(6);
            if ($('#pic_team_manager').is(':checked')) roles.push(7);
            if ($('#group_leader').is(':checked')) roles.push(8);
            if ($('#guard').is(':checked')) roles.push(9);
            if ($('#read_only').is(':checked')) roles.push(10);

            $.ajax({
                url: "/Delegate/UpdateRoles",
                method: "POST",
                data: {
                    empCode: $("#txtEmployeeID").val(),
                    roles
                },
                success: () => {
                    window.location.reload()
                },
                error: () => {
                    alert("Dữ liệu nhập không chính xác!")
                }
            })
        }

        var _userBI = {
            init: function () {
                _userBI.registerEvent();
            },
            registerEvent: function () {
                $("#info-BI-create").click(function () {
                    _userBI.getUserBI();
                });
            },
            getUserBI: function () {
                var empCode = $("#txtEmployeeID").val();
                $.ajax({
                    url: '/Delegate/GetUserRole?empCode=' + empCode,
                    type: "GET",
                    dataType: 'json',
                    success: function (reponse) {
                        if (reponse.status) {
                            const { FullName, Position, Team, roles } = reponse.data

                            const hasRole = roleID => roles.filter(r => r.ID == roleID).length > 0
                            
                            $('#txtFullNameBI').val(FullName);
                            $('#txtPositionBI').val(Position);
                            $('#txtTeamBI').val(Team);
                            $('#admin').prop("checked", hasRole(1));
                            $('#sub_admin').prop("checked", hasRole(2));
                            $('#pic').prop("checked", hasRole(3));
                            $('#itt_team_manager').prop("checked", hasRole(4));
                            $('#smt_team_manager').prop("checked", hasRole(5));
                            $('#fst_team_manager').prop("checked", hasRole(6));
                            $('#group_leader').prop("checked", hasRole(8));
                            $('#guard').prop("checked", hasRole(9));
                            $('#read_only').prop("checked", hasRole(10));
                            $('#pic_team_manager').prop("checked", hasRole(7));
                        } else {
                            $('#txtFullNameBI').val("Không tồn tại");
                            $('#txtPositionBI').val("?");
                            $('#txtTeamBI').val("?");
                            $('#admin').prop("checked", false);
                            $('#sub_admin').prop("checked", false);
                            $('#pic').prop("checked", false);
                            $('#itt_team_manager').prop("checked", false);
                            $('#smt_team_manager').prop("checked", false);
                            $('#fst_team_manager').prop("checked", false);
                            $('#group_leader').prop("checked", false);
                            $('#guard').prop("checked", false);
                            $('#read_only').prop("checked", false);
                            $('#pic_team_manager').prop("checked", false);
                        }
                    },
                    error: function () {
                        $('#txtFullNameBI').val("Không tồn tại");
                        $('#txtPositionBI').val("?");
                        $('#txtTeamBI').val("?");
                        $('#admin').prop("checked", false);
                        $('#sub_admin').prop("checked", false);
                        $('#pic').prop("checked", false);
                        $('#itt_team_manager').prop("checked", false);
                        $('#smt_team_manager').prop("checked", false);
                        $('#fst_team_manager').prop("checked", false);
                        $('#group_leader').prop("checked", false);
                        $('#guard').prop("checked", false);
                        $('#read_only').prop("checked", false);
                        $('#pic_team_manager').prop("checked", false);
                    }
                });
            }
        }
        _userBI.init();

        $('#txtEmployeeID').keyup(function () {
            var count = $('#txtEmployeeID').val().length;
            if (count == 8) {
                _userBI.getUserBI();
            } else {
                $('#txtFullNameBI').val("");
                $('#txtPositionBI').val("");
                $('#txtTeamBI').val("");
            }
        });

        $(".btn-reload").off('click').on('click', function (e) {
            location.reload();
        });

        $("#DL").removeClass('collapse');
        $("#DL").removeClass('collapsed');
        $("#DL").attr("aria-expanded", "true");
        $("#delegate_tab").addClass('active');
        $("#collapseAdmin").addClass('show');
        $("#collapseDelegate").removeClass('collapse');
    </script>
}