@model List<SMS.Models.EF.User>

@{
    ViewBag.Title = "Delegate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-primary">CẤP QUYỀN TRUY CẬP</h5>
    </div>
    <!--Cột bên trái dành cho form đăng ký-->
    <div class="col-md-12 row-form">
        <div class="column form-horizontal form-left col-md-7">
            <div class="form-group row-1 input-group">
                <label class="control-label col-md-2 lb">Mã CNV <span class="red">(*)</span></label>
                <div class="col-md-3 input-group input-group-sm">
                    <input class="form-control input-previous-button col-md-12" id="txtEmployeeID" maxlength="8" />
                </div>
            </div>

            <div class="form-group row-1 input-group">
                <label class="control-label col-md-2 lb">Quyền hạn</label>
                <div class="col-md-10">
                    <form class="radio-container">
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" name="admin" id="admin">Admin
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="sub_admin">Sub Admin
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="pic">PIC
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="itt_team_manager">ITT Team Manager
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="smt_team_manager">SMT Team Manager
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="fst_team_manager">FST Team Manager
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="pic_team_manager">PIC Team Manager
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="group_leader">Group Leader
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="guard">Bảo vệ
                        </label>
                        <label class="checkbox-inline radio-button">
                            <input class="radio" type="checkbox" id="read_only">Chỉ đọc
                        </label>
                    </form>
                </div>
            </div>
            <div class="form-group input-group-sm row col-12">
                <div class="col-2"></div>
                <div class="col-2">
                    <button type="button" class="btn btn-sm btn-primary" title="Cấp quyền" value="Create" onclick="handleSubmit()"><i class="fas fa-edit"></i> Cấp quyền</button>
                </div>
            </div>
        </div>

        <div class="column col-1 col-mid"></div>

        <!--Cột bên phải dành cho thông tin nhân viên-->
        <div class="column form-horizontal form-right col-md-4">
            <!--Ảnh profile-->
            <div class="form-group col-12 profile-img">
                <div class="img-profile">
                    <img src="~/Assets/img/the-world.jpg" />
                </div>
            </div>
            <!--Thông tin profile-->
            <div class="form-group input-group input-group-sm">
                <label class="col-3 top-space" for="FullName">Họ và tên</label>
                <input readonly class="form-control col-9 input-previous-button" id="txtFullNameBI" />
            </div>
            <div class="form-group input-group input-group-sm">
                <label class="col-3 top-space" for="Positon">Vị trí</label>
                <input readonly class="form-control col-9 input-previous-button" id="txtPositionBI" />
            </div>
            <div class="form-group input-group input-group-sm">
                <label class="col-3 top-space" for="Positon">Phòng ban</label>
                <input readonly class="form-control col-9 input-previous-button" id="txtTeamBI" />
            </div>
        </div>
    </div>
</div>

<br />

<div class="row col-12">
    <div class="col-6 form-horizontal">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">DANH SÁCH ADMIN & SUB ADMIN</h6>
        </div>
        <div style="width:100%; overflow-x:auto">
            <!--Bảng dữ liệu Về sớm-->
            <table class="table table-hover table-bordered" id="Emp-table" style="border-collapse: collapse; width: 100%">
                <!--Tiêu đề cột-->
                <thead>
                    <tr class="table-heading">
                        <th class="th-1">Mã</th>
                        <th class="th-1">Nhân viên</th>
                        <th class="th-1">Vị trí</th>
                        <th class="th-1">Phòng ban</th>
                        <th class="th-1">Quyền hạn</th>
                        <th class="th-1">Trạng thái</th>
                        <th class="th-1">Email</th>
                        <th class="th-1">Cellphone</th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        foreach (var model in Model.FindAll(m => m.Admin == true || m.SubAdmin == true))
                        {
                            <tr>
                                <td>@(model.EmpCode)</td>
                                <td>@(model.FullName)</td>
                                <td>@(model.Position)</td>
                                <td>@(model.Team)</td>
                                <td>@(model.Admin == true ? "Admin" : "Sub Admin")</td>
                                <td>@(model.Status)</td>
                                <td>@(model.Email)</td>
                                <td>@(model.Cellphone)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6 form-horizontal">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">DANH SÁCH PIC</h6>
        </div>
        <div style="width:100%; overflow-x:auto">
            <!--Bảng dữ liệu Về sớm-->
            <table class="table table-hover table-bordered" id="Emp-table" style="border-collapse: collapse; width: 100%">
                <!--Tiêu đề cột-->
                <thead>
                    <tr class="table-heading">
                        <th class="th-1">Mã</th>
                        <th class="th-1">Nhân viên</th>
                        <th class="th-1">Vị trí</th>
                        <th class="th-1">Phòng ban</th>
                        <th class="th-1">Trạng thái</th>
                        <th class="th-1">Email</th>
                    </tr>
                </thead>
                @{
                    foreach (var model in Model.FindAll(m => m.PIC == true))
                    {
                        <tr>
                            <td>@(model.EmpCode)</td>
                            <td>@(model.FullName)</td>
                            <td>@(model.Position)</td>
                            <td>@(model.Team)</td>
                            <td>@(model.Status)</td>
                            <td>@(model.Email)</td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
    <div class="col-6 form-horizontal">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">DANH SÁCH GROUP LEADER</h6>
        </div>
        <div style="width:100%; overflow-x:auto">
            <!--Bảng dữ liệu Về sớm-->
            <table class="table table-hover table-bordered" id="Emp-table" style="border-collapse: collapse; width: 100%">
                <!--Tiêu đề cột-->
                <thead>
                    <tr class="table-heading">
                        <th class="th-1">Mã</th>
                        <th class="th-1">Nhân viên</th>
                        <th class="th-1">Vị trí</th>
                        <th class="th-1">Phòng ban</th>
                        <th class="th-1">Trạng thái</th>
                        <th class="th-1">Email</th>
                    </tr>
                </thead>
                <tbody id="tblData">
                    @{
                        foreach (var model in Model.FindAll(m => m.Group_Leader == true))
                        {
                            <tr>
                                <td>@(model.EmpCode)</td>
                                <td>@(model.FullName)</td>
                                <td>@(model.Position)</td>
                                <td>@(model.Team)</td>
                                <td>@(model.Status)</td>
                                <td>@(model.Email)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-6 form-horizontal">
        <div class="card-header">
            <h6 class="m-0 font-weight-bold text-primary">DANH SÁCH PIC TEAM MANAGER</h6>
        </div>
        <div style="width:100%; overflow-x:auto">
            <!--Bảng dữ liệu Về sớm-->
            <table class="table table-hover table-bordered" id="Emp-table" style="border-collapse: collapse; width: 100%">
                <!--Tiêu đề cột-->
                <thead>
                    <tr class="table-heading">
                        <th class="th-1">Mã</th>
                        <th class="th-1">Nhân viên</th>
                        <th class="th-1">Vị trí</th>
                        <th class="th-1">Phòng ban</th>
                        <th class="th-1">Trạng thái</th>
                        <th class="th-1">Email</th>
                    </tr>
                </thead>
                <tbody id="tblData">
                    @{
                        foreach (var model in Model.FindAll(m => m.PIC_TM == true))
                        {
                            <tr>
                                <td>@(model.EmpCode)</td>
                                <td>@(model.FullName)</td>
                                <td>@(model.Position)</td>
                                <td>@(model.Team)</td>
                                <td>@(model.Status)</td>
                                <td>@(model.Email)</td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $("#DL").removeClass('collapse');
        $("#DL").removeClass('collapsed');
        $("#DL").attr("aria-expanded", "true");
        $("#EditDelegate").addClass('active');
        $("#collapseDelegateTab").addClass('show');
        $("#collapseDelegate").removeClass('collapse');

        function handleSubmit() {
            $.ajax({
                url: "/User/UpdateRole",
                method: "POST",
                data: {
                    EmpCode: $("#txtEmployeeID").val(),
                    Admin: $('#admin').is(':checked'),
                    SubAdmin: $('#sub_admin').is(':checked'),
                    PIC: $('#pic').is(':checked'),
                    ITT_TM: $('#itt_team_manager').is(':checked'),
                    SMT_TM: $('#smt_team_manager').is(':checked'),
                    FST_TM: $('#fst_team_manager').is(':checked'),
                    Group_Leader: $('#group_leader').is(':checked'),
                    Guard: $('#guard').is(':checked'),
                    Read_Only: $('#read_only').is(':checked'),
                    PIC_TM: $('#pic_team_manager').is(':checked'),
                },
                success: () => {
                    window.location.reload()
                },
                error: () => {
                    alert("Lỗi hệ thống!")
                }
            })
        }

        var _userBI = {
            init: function () {
                _userBI.registerEvent();
            },
            registerEvent: function () {
                $("#info-BI-create").click(function () {
                    _userBI.getUserBI();
                });
            },
            getUserBI: function () {
                var empCode = $("#txtEmployeeID").val();
                $.ajax({
                    url: '/User/GetUserByCode?empCode=' + empCode,
                    type: "GET",
                    dataType: 'json',
                    success: function (reponse) {
                        console.log(reponse.data);
                        if (reponse.status) {
                            $('#txtFullNameBI').val(reponse.data.FullName);
                            $('#txtPositionBI').val(reponse.data.Position);
                            $('#txtTeamBI').val(reponse.data.Team);
                            $('#admin').attr("checked", reponse.data.Admin == 1);
                            $('#sub_admin').attr("checked", reponse.data.SubAdmin == 1);
                            $('#pic').attr("checked", reponse.data.PIC == 1);
                            $('#itt_team_manager').attr("checked", reponse.data.ITT_TM == 1);
                            $('#smt_team_manager').attr("checked", reponse.data.SMT_TM == 1);
                            $('#fst_team_manager').attr("checked", reponse.data.FST_TM == 1);
                            $('#group_leader').attr("checked", reponse.data.Group_Leader == 1);
                            $('#guard').attr("checked", reponse.data.Guard == 1);
                            $('#read_only').attr("checked", reponse.data.Read_Only == 1);
                            $('#pic_team_manager').attr("checked", reponse.data.PIC_TM == 1);
                        } else {
                            alert("Mã nhân viên không tồn tại");
                            $('#txtFullNameBI').val("");
                            $('#txtPositionBI').val(reponse.data.Position);
                            $('#txtTeamBI').val(reponse.data.Team);
                            $('#admin').attr("checked", false);
                            $('#sub_admin').attr("checked", false);
                            $('#pic').attr("checked", false);
                            $('#itt_team_manager').attr("checked", false);
                            $('#smt_team_manager').attr("checked", false);
                            $('#fst_team_manager').attr("checked", false);
                            $('#group_leader').attr("checked", false);
                            $('#guard').attr("checked", false);
                            $('#read_only').attr("checked", false);
                            $('#pic_team_manager').attr("checked", false);
                        }
                    },
                    error: function () {
                        $('#txtFullNameBI').val("Không tồn tại");
                        $('#txtPositionBI').val("?");
                        $('#txtTeamBI').val("?");
                        $('#admin').attr("checked", false);
                        $('#sub_admin').attr("checked", false);
                        $('#pic').attr("checked", false);
                        $('#itt_team_manager').attr("checked", false);
                        $('#smt_team_manager').attr("checked", false);
                        $('#fst_team_manager').attr("checked", false);
                        $('#group_leader').attr("checked", false);
                        $('#guard').attr("checked", false);
                        $('#read_only').attr("checked", false);
                        $('#pic_team_manager').attr("checked", false);
                    }
                });
            }
        }
        _userBI.init();

        $('#txtEmployeeID').keyup(function () {
            var count = $('#txtEmployeeID').val().length;
            if (count == 8) {
                _userBI.getUserBI();
            } else {
                $('#txtFullNameBI').val("");
                $('#txtPositionBI').val("");
                $('#txtTeamBI').val("");
            }
        });

        $(".btn-reload").off('click').on('click', function (e) {
            location.reload();
        });

        $("#DL").removeClass('collapse');
        $("#DL").removeClass('collapsed');
        $("#DL").attr("aria-expanded", "true");
        $("#delegate_tab").addClass('active');
        $("#collapseAdmin").addClass('show');
        $("#collapseDelegate").removeClass('collapse');
    </script>
}