@model SMS.Models.EF.Guest

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">BẢO VỆ XÁC NHẬN KHÁCH MANG HÀNG VÀO - RA</h5>
    </div>
    <!--Cột bên trái dành cho form đăng ký-->
    <div class="col-md-12 row-form">
        <div class="column form-horizontal form-left col-md-7">
            <div class="form-group row-1 input-group">
                <label class="control-label col-2 top-space lb">Mã CNV <span class="red">(*)</span></label>
                <div class="col-md-3 input-group">
                    <div class="top-space input-group-sm">
                        <input type="hidden" value="@Model.ID" id="txtID" />
                        <input class="form-control input-previous-button col-md-12" id="txtEmployeeID" value="@Model.EmployeeID" readonly />
                    </div>
                </div>
                <label class="control-label col-1 top-space lb">Khách</label>
                <div class="col-md-3 input-group-sm">
                    <select class="form-control top-space" id="txtType" disabled>
                        <option value="0" @if (Model.Type == 0) { @: selected
                                }>
                            Khách
                        </option>
                        <option value="1" @if (Model.Type == 1) { @: selected
                                }>
                            Nhà thầu
                        </option>
                        <option value="2" @if (Model.Type == 2) { @: selected
                                }>
                            Lái xe
                        </option>
                    </select>
                </div>
                <div class="col-md-3 checkbox top-space">
                    <label style="margin-bottom: 0 !important; margin-top:.5rem">
                        @if (Model.Check_Guest.Value)
                        {
                            <label><input type="checkbox" id="txtCheck_Guest" checked disabled /> Khách nước ngoài</label>
                        }
                        else
                        {
                            <label><input type="checkbox" id="txtCheck_Guest" disabled /> Khách nước ngoài</label>
                        }
                    </label>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Số thẻ khách</label>
                <div class="col-md-3 input-group">
                    <div class="input-group-sm">
                        <input class="form-control input-previous-button" id="txtKVPNo" value="@Model.KVPNo" readonly />
                    </div>
                </div>
                <label class="control-label col-md-2 top-space">Họ tên khách <span class="red">(*)</span></label>
                <div class="col-5 input-group-sm">
                    <div class="input-group-sm">
                        <input class="form-control input-previous-button" id="txtEmployeeName" value="@Model.FullName" readonly />
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">CMTND/Hộ chiếu</label>
                <div class="col-md-3 input-group">
                    <div class="input-group-sm">
                        <input class="form-control input-previous-button" id="txtIDCard" value="@Model.IDCard" readonly />
                    </div>
                </div>
                <label class="control-label col-md-1 top-space">Visa</label>
                <div class="col-md-6 input-group-sm">
                    <div class="input-group-sm">
                        <input class="form-control input-previous-button" id="txtVisa" value="@Model.Visa" readonly />
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Nơi ở hiện tại</label>
                <div class="col-md-10">
                    <div class="input-group-sm">
                        <input class="form-control input-previous-button" id="txtHotel" value="@Model.Hotel" readonly />
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Công ty <span class="red">(*)</span></label>
                <div class="col-md-10">
                    <div class="input-group-sm">
                        <input class="form-control input-previous-button" id="txtCompany" value="@Model.Company" readonly />
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Số người <span class="red">(*)</span></label>
                <div class="col-md-2 input-group">
                    <div class="input-group-sm">
                        <input type="number" class="form-control input-previous-button" id="txtNumbersOfPerson" value="@Model.NumbersOfPerson" min="1" readonly disabled />
                    </div>
                </div>
                <a id="guest-multi-day" class="btn-info btn btn-sm" title="Đăng ký theo đoàn" style="color: white; cursor: pointer">
                    <i class="fas fa-edit"></i>&nbsp; Đăng ký Khách theo đoàn
                </a>
                <div class="multi_day input-group-sm col-5">
                    <div class="form-horizontal col-12 row-add input-group-sm" id="import_file" style="padding: 1px">
                        <input disabled class="input-group-sm" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" id="fileRedirectUrl" placeholder="Chọn file Excel" />
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2">Lý do <span class="red">(*)</span></label>
                <div class="col-md-10">
                    <div class="input-group-sm">
                        <textarea readonly class="form-control col-md-12" style="resize: none" id="txtPurpose">@Model.Purpose</textarea>
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Số xe</label>
                <div class="col-md-5">
                    <div class="input-group-sm">
                        <input readonly class="form-control input-previous-button" id="txtTransportNo" value="@Model.TransportNo" />
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Giờ vào <span class="red">(*)</span></label>
                <div class="col-3 input-group-sm">
                    <input class="form-control input-previous-button datepicker" id="txtEstimatedDateIn" placeholder="Ngày" value="@Model.EstimatedDateIn" readonly />
                </div>
                <div class="col-2 input-group-sm">
                    <input class="form-control input-previous-button timepicker" id="txtEstimatedTimeIn" placeholder="Giờ" value="@Model.EstimatedTimeIn" readonly />
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Giờ ra <span class="red">(*)</span></label>
                <div class="col-3 input-group-sm">
                    <input class="form-control input-previous-button datepicker" id="txtEstimatedDateOut" placeholder="Ngày" value="@Model.EstimatedDateOut" readonly />
                </div>
                <div class="col-2 input-group-sm">
                    <input class="form-control input-previous-button timepicker" id="txtEstimatedTimeOut" placeholder="Giờ" value="@Model.EstimatedTimeOut" readonly />
                </div>
            </div>
        </div>

        <div class="column col-md-1 col-mid"></div>


        <!--Cột bên phải dành cho thông tin nhân viên-->
        <div class="column form-horizontal form-right col-md-4">
            <!--Ảnh profile-->
            <div class="form-group col-12 profile-img">
                <div class="img-profile">
                    <img src="~/Assets/img/the-world.jpg" />
                </div>
            </div>
            <!--Thông tin profile-->
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Họ và tên</label>
                <input readonly class="form-control input-previous-button col-9" id="txtFullNameBI" value="@Model.EmployeeName" />
            </div>
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Vị trí</label>
                <input readonly class="form-control input-previous-button col-9" id="txtPositionBI" value="@Model.Position" />
            </div>
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Phòng ban</label>
                <input readonly class="form-control input-previous-button col-9" id="txtTeamBI" value="@Model.Team" />
            </div>
        </div>
    </div>
</div>
<br />
<div class="bottom">
    <div style="width:100%; overflow-x:auto">
        <!--Bảng dữ liệu Về sớm-->
        <table class="table table-hover table-bordered" id="LE-table">
            <!--Tiêu đề cột-->
            <thead>
                <tr class="table-heading">
                    <th>Tên tài sản</th>
                    <th>Số serial</th>
                    <th>Số lượng</th>
                    <th>Đơn vị</th>
                    <th>Loại hàng hóa</th>
                    <th colspan="2">Thời gian đem trở ra</th>
                    <th colspan="4">ITT phê duyệt</th>
                    <th colspan="4">FST phê duyệt</th>
                    <th colspan="4">Bảo vệ xác nhận mang vào</th>
                    <th colspan="4">Bảo vệ xác nhận mang ra</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Guest_Item)
                {
                    <tr>
                        <td>@item.Item</td>
                        <td>@item.Serial</td>
                        <td>@item.Quantity</td>
                        <td>@item.Unit</td>
                        <td>
                            @if (@item.AssetType == 0)
                            {
                                <span>Hàng thường</span>
                            }
                            else if (item.AssetType == 1)
                            {
                                <span>Hàng IT</span>
                            }
                            else
                            {
                                <span>Hàng độc hại</span>
                            }
                        </td>
                        <td>
                            @if (item.IsReturn == true)
                            {
                                <i class="fas fa-check-square" style="color: dodgerblue"></i>
                            }
                            else if (item.IsReturn == false)
                            {
                                <i class="fas fa-times" style="color: red"></i>
                            }
                        </td>
                        <td>@item.ReturnDate @item.ReturnTime</td>
                        <td>@item.ITT</td>
                        <td>
                            @if (item.ITT_Status == 1)
                            {
                                <i class="fas fa-check-square" style="color: dodgerblue"></i>
                            }
                            else if (item.ITT_Status == 0)
                            {
                                <i class="fas fa-times" style="color: red"></i>
                            }
                        </td>
                        <td>@item.ITT_Remark</td>
                        <td>@item.ITT_Date</td>
                        <td>@item.FST</td>
                        <td>
                            @if (item.FST_Status == 1)
                            {
                                <i class="fas fa-check-square" style="color: dodgerblue"></i>
                            }
                            else if (item.FST_Status == 2)
                            {
                                <i class="fas fa-times" style="color: red"></i>
                            }
                        </td>
                        <td>@item.FST_Remark</td>
                        <td>@item.FST_Date</td>
                        <td>@item.GuardIn</td>
                        <td>
                            @if (@item.GuardStatusIn == null)
                            {
                                <a data-id="" class="btn btn-primary btn-standard btn-admin-approve-LE" href="#" title="Phê duyệt" onclick="handleApproveIn(@item.ID)"><i class="fas fa-check" style="margin-left: -4px"></i></a>
                                <a data-id="" class="btn btn-danger btn-standard btn-admin-reject-LE" href="#" title="Không phê duyệt" onclick="handleUnapproveIn(@item.ID)"><i class="fas fa-times" style="margin-left: -2.5px"></i></a>
                            }
                            else if (@item.GuardStatusIn == 1)
                            {
                                <i class="fas fa-check-square"></i>
                            }
                            else
                            {
                                <i class="fas fa-times" style="color:red"></i>
                            }
                        </td>
                        <td><input class="remark-@item.ID-in remark col-12" type="text" placeholder="Ghi chú..." value="@item.GuardRemarkIn" readonly="@(item.GuardStatusIn != null)" /></td>
                        <td>@item.GuardDateIn</td>
                        <td>@item.GuardOut</td>
                        <td>
                            @if (@item.GuardStatusOut == null)
                            {
                                <a data-id="" class="btn btn-primary btn-standard btn-admin-approve-LE" href="#" title="Phê duyệt" onclick="handleApproveOut(@item.ID)"><i class="fas fa-check" style="margin-left: -4px"></i></a>
                                <a data-id="" class="btn btn-danger btn-standard btn-admin-reject-LE" href="#" title="Không phê duyệt" onclick="handleUnapproveOut(@item.ID)"><i class="fas fa-times" style="margin-left: -2.5px"></i></a>
                            }
                            else if (@item.GuardStatusOut == 1)
                            {
                                <i class="fas fa-check-square"></i>
                            }
                            else
                            {
                                <i class="fas fa-times" style="color:red"></i>
                            }
                        </td>
                        <td><input class="remark-@item.ID-out remark col-12" type="text" placeholder="Ghi chú..." value="@item.GuardRemarkOut" disabled="@(item.GuardStatusOut != null)" /></td>
                        <td>@item.GuardDateOut</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="text-align: center">
        <label id="return-queue" class="btn-cancel btn top-space btn-sm" title="Trở lại" style="cursor: pointer">
            <i class="fas fa-arrow-left"></i>&nbsp; Trở lại
        </label>
    </div>
</div>

@section scripts{
    <script src="~/Assets/js/jquery-confirm.js"></script>
    <script src="~/Assets/js/utils.js"></script>
    <script>
        $('#return-queue').on("click", () => {
            window.location.href = "/Guard/Queue"
        })

        function handleApproveIn(itemId) {
            var remarkId = "." + "remark" + "-" + itemId + "-" + "in"
            handleAPI("/Guard/ApproveGuestItemIn", {
                id: $("#gid").val(),
                itemId,
                remark: $(remarkId).val(),
                status: 1
            }, true)
        }

        function handleUnapproveIn(itemId) {
            var remarkId = "." + "remark" + "-" + itemId + "-" + "in"
            handleAPI("/Guard/ApproveGuestItemIn", {
                id: $("#gid").val(),
                itemId,
                remark: $(remarkId).val(),
                status: 0
            }, true)
        }

        function handleApproveOut(itemId) {
            var remarkId = "." + "remark" + "-" + itemId + "-" + "out"
            handleAPI("/Guard/ApproveGuestItemOut", {
                id: $("#gid").val(),
                itemId,
                remark: $(remarkId).val(),
                status: 1,
            }, true)
        }

        function handleUnapproveOut(itemId) {
            var remarkId = "." + "remark" + "-" + itemId + "-" + "out"
            handleAPI("/Guard/ApproveGuestItemOut", {
                id: $("#gid").val(),
                itemId,
                remark: $(remarkId).val(),
                status: 0,
            }, true)
        }

        $("#guard").removeClass('collapse');
        $("#guard").removeClass('collapsed');
        $("#guard").attr("aria-expanded", "true");
        $("#queue").addClass('active');
        $("#collapseGuard").addClass('show');
        $("#collapseInOut").removeClass('collapse');
    </script>
}

