@model SMS.Web.ViewModels.GuardViewModel
@{
    ViewBag.Title = "Xác nhận CNV mang hàng ra";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="form-horizontal">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-primary">BẢO VỆ XÁC NHẬN CÔNG NHÂN VIÊN MANG HÀNG RA</h5>
    </div>
    <!--Cột bên trái dành cho form đăng ký-->
    <div class="col-md-12 row-form">
        <div class="column form-horizontal form-left col-md-7">
            <div class="form-group row-1 input-group">
                <label class="control-label col-md-2 top-space lb">Mã CNV <span class="red">(*)</span></label>
                <div class="col-md-7 input-group">
                    <div class="top-space input-group-sm">
                        @Html.TextBoxFor(model => model.Bring_Out.EmpCode, new { @id = "txtEmpCodeBI", @class = "form-control input-previous-button col-md-12", @readonly = "readonly" })
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2">Lý do <span class="red">(*)</span></label>
                <div class="col-md-10 input-group-sm">
                    @Html.TextAreaFor(model => model.Bring_Out.Reason, new { @class = "form-control col-md-12", @readonly = "readonly", @style = "resize: none" })
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Ngày đăng ký <span class="red">(*)</span></label>
                <div class="col-md-3 input-group-sm">
                    <div class="input-group-sm">
                        @Html.TextBoxFor(model => model.Bring_Out.EstimatedDate, new { @id = "txtEmpCodeBI", @class = "form-control input-previous-button col-md-12", @readonly = "readonly" })
                    </div>
                </div>
                <label class="control-label top-space">Giờ đăng ký <span class="red">(*)</span></label>
                <div class="col-md-2 input-group-sm">
                    <div class="input-group-sm">
                        @Html.TextBoxFor(model => model.Bring_Out.EstimatedTime, new { @id = "txtEmpCodeBI", @class = "form-control input-previous-button col-md-12", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>

        <div class="column col-md-1 col-mid"></div>


        <!--Cột bên phải dành cho thông tin nhân viên-->
        <div class="column form-horizontal form-right col-md-4">
            <!--Ảnh profile-->
            <div class="form-group col-12 profile-img">
                <div class="img-profile">
                    <img id="img-profile" src="~/Assets/img/the-world.jpg" />
                </div>
            </div>
            <!--Thông tin profile-->
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Họ và tên</label>
                @Html.TextBoxFor(model => model.Bring_Out.FullName, new { @class = "form-control input-previous-button col-9 txtFullNameBI", @readonly = "readonly" })
            </div>
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Vị trí</label>
                @Html.TextBoxFor(model => model.Bring_Out.Position, new { @class = "form-control input-previous-button col-9 txtFullNameBI", @readonly = "readonly" })
            </div>
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Phòng ban</label>
                @Html.TextBoxFor(model => model.Bring_Out.Team, new { @class = "form-control input-previous-button col-9 txtFullNameBI", @readonly = "readonly" })
            </div>
        </div>
    </div>
</div>
<br />
<div class="bottom">
    <div style="width:100%; overflow-x:auto">
        <!--Bảng dữ liệu Về sớm-->
        <table class="table table-hover table-bordered" id="LE-table">
            <!--Tiêu đề cột-->
            <thead>
                <tr class="table-heading">
                    <th>Tài sản</th>
                    <th>Thông số</th>
                    <th>Số lượng</th>
                    <th>Đơn vị</th>
                    <th>Loại hàng</th>
                    <th colspan="4">TM phê duyệt</th>
                    <th colspan="4">SMT phê duyệt</th>
                    <th colspan="4">FST phê duyệt</th>
                    <th colspan="4">Bảo vệ xác nhận mang ra</th>
                    <th colspan="2">Mang trở lại</th>
                    <th colspan="4">Bảo vệ xác nhận mang trở lại</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Bring_Out_Items)
                {
                    var now = DateTime.Now.ToString("dd/MM/yyyy");
                    var style = (item.ReturnDate != null && DateTime.Compare(DateTime.ParseExact(item.ReturnDate, "dd/MM/yyyy", null), DateTime.ParseExact(now, "dd/MM/yyyy", null)) < 0 && item.GuardStatusReturn == null) ? "color:red" : "";
                    <tr style="@style">
                        <td>@item.Item</td>
                        <td>@item.Serial</td>
                        <td>@item.Quantity</td>
                        <td>@item.Unit</td>
                        <td>
                            @if (@item.AssetType == 0)
                            {
                                <span>Hàng thường</span>
                            }
                            else if (item.AssetType == 1)
                            {
                                <span>Hàng IT</span>
                            }
                            else
                            {
                                <span>Hàng độc hại</span>
                            }
                        </td>
                        <td>
                            @if (item.ApprovedBy != null)
                            {
                                @item.ApprovedBy
                            }
                            else if (item.ApprovedBy == null)
                            {
                                <i class="fas fa-question" title="Đang chờ Trưởng phòng PIC phê duyệt"></i>
                            }
                        </td>
                        <td>
                            @if (item.ApprovedStatus == 1)
                            {
                                <i class="fas fa-check-square"></i>
                            }
                            else if (item.ApprovedStatus == 0)
                            {
                                <i class="fas fa-times" style="color: red"></i>
                            }
                        </td>
                        <td>@item.ApproverRemark</td>
                        <td>@item.ApprovedDate</td>
                        <td>
                            @if (item.AssetType == 1 && item.ITT != null)
                            {
                                @item.ITT
                            }
                            else if (item.AssetType == 1 && item.ITT == null)
                            {
                                <i class="fas fa-question" title="Đang chờ Trưởng phòng SMT phê duyệt"></i>
                            }
                        </td>
                        <td>
                            @if (item.ITT_Status == 1)
                            {
                                <i class="fas fa-check-square"></i>
                            }
                            else if (item.ITT_Status == 0)
                            {
                                <i class="fas fa-times" style="color: red"></i>
                            }
                        </td>
                        <td>@item.ITT_Remark</td>
                        <td>@item.ITT_Date</td>
                        <td>
                            @if (item.AssetType == 2 && item.FST != null)
                            {
                                @item.FST
                            }
                            else if (item.AssetType == 2 && item.FST == null)
                            {
                                <i class="fas fa-question" title="Đang chờ Trưởng phòng FST phê duyệt"></i>
                            }
                        </td>
                        <td>
                            @if (item.FST_Status == 1)
                            {
                                <i class="fas fa-check-square"></i>
                            }
                            else if (item.FST_Status == 0)
                            {
                                <i class="fas fa-times" style="color: red"></i>
                            }
                        </td>
                        <td>@item.FST_Remark</td>
                        <td>@item.FST_Date</td>
                        <td>@item.GuardOut</td>
                        <td>
                            @if (@item.GuardStatusOut == null)
                            {
                                <a data-id="" class="btn btn-primary btn-standard btn-admin-approve-LE" href="#" title="Phê duyệt" onclick="handleApproveOut(@item.ID)"><i class="fas fa-check" style="margin-left: -4px"></i></a>
                                <a data-id="" class="btn btn-danger btn-standard btn-admin-reject-LE" href="#" title="Không phê duyệt" onclick="handleUnapproveOut(@item.ID)"><i class="fas fa-times" style="margin-left: -2.5px"></i></a>
                            }
                            else if (@item.GuardStatusOut == 1)
                            {
                                <i class="fas fa-check-square"></i>
                            }
                            else
                            {
                                <i class="fas fa-times" style="color:red"></i>
                            }
                        </td>
                        <td>
                            @if (item.GuardOut == null)
                            {
                                <input class="remark-@item.ID-out remark col-12" type="text" placeholder="Ghi chú..." value="@item.GuardRemarkOut" />
                            }
                            else
                            {
                                <span>@item.GuardRemarkOut</span>
                            }
                        </td>
                        <td>@item.GuardDateOut</td>
                        <td>
                            @if (@item.IsReturn == true)
                            {
                                <i class="fas fa-check-square" style="color: dodgerblue"></i>
                            }
                            else if (@item.IsReturn == false)
                            {
                                <i class="fas fa-times" style="color: red"></i>
                            }
                        </td>
                        <td>@item.ReturnDate @item.ReturnTime</td>
                        @if (item.IsReturn == true && item.GuardStatusOut == 1)
                        {
                            <td>@item.GuardReturn</td>
                            <td>
                                @if (@item.GuardStatusReturn == null)
                                {
                                    <a data-id="" class="btn btn-primary btn-standard btn-admin-approve-LE" href="#" title="Phê duyệt" onclick="handleApproveReturn(@item.ID)"><i class="fas fa-check" style="margin-left: -4px"></i></a>
                                    <a data-id="" class="btn btn-danger btn-standard btn-admin-reject-LE" href="#" title="Không phê duyệt" onclick="handleUnapproveReturn(@item.ID)"><i class="fas fa-times" style="margin-left: -2.5px"></i></a>
                                }
                                else if (@item.GuardStatusReturn == 1)
                                {
                                    <i class="fas fa-check-square"></i>
                                }
                                else
                                {
                                    <i class="fas fa-times" style="color:red"></i>
                                }
                            </td>
                            <td>
                                @if (item.GuardReturn == null)
                                {
                                    <input class="remark-@item.ID-return remark col-12" type="text" placeholder="Ghi chú..." value="@item.GuardRemarkReturn" />
                                }
                                else
                                {
                                    <span>@item.GuardRemarkReturn</span>
                                }
                            </td>
                            <td>@item.GuardDateReturn</td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="text-align: center">
        <label id="return-queue" class="btn-cancel btn top-space btn-sm" title="Trở lại" style="cursor: pointer">
            <i class="fas fa-arrow-left"></i>&nbsp; Trở lại
        </label>
        <label class="btn-primary btn top-space btn-sm" style="cursor: pointer">
            <a href="/BringOut/BOReport/@Model.Bring_Out.ID" target="_blank" style="cursor: pointer; text-decoration: none; color: white" title="In báo cáo">
                In xác nhận
            </a>
        </label>
    </div>
</div>

@section scripts{
    <script src="~/Assets/js/jquery-confirm.js"></script>
    <script src="~/Assets/js/utils.js"></script>

    <script>
        //user
        var _userBI = {
            init: function () {
                _userBI.registerEvent();
            },
            registerEvent: function () {
                _userBI.getUserBI();
            },
            getUserBI: function () {
                var empCode = $("#txtEmpCodeBI").val();
                $.ajax({
                    url: '/User/GetUserByCode?empCode=' + empCode,
                    type: "GET",
                    dataType: 'json',
                    success: function (reponse) {
                        console.log(reponse.data);
                        if (reponse.status) {
                            $('#txtFullNameBI').val(reponse.data.FullName);
                            $('#txtPositionBI').val(reponse.data.Position);
                            $('#txtTeamBI').val(reponse.data.Team.Name);
                            $("#img-profile").attr("src", `/Image/${empCode}.jpg`);
                        } else {
                            alert("Mã nhân viên không tồn tại");
                            $('#txtFullNameBI').val("");
                            $('#txtPositionBI').val(reponse.data.Position);
                            $('#txtTeamBI').val(reponse.data.Team.Name);
                            console.log(reponse.data.data);
                        }
                    },
                    error: function () {
                        $('#txtFullNameBI').val("Không tồn tại");
                        $('#txtPositionBI').val("?");
                        $('#txtTeamBI').val("?");
                        console.log(reponse.data.data);
                    }
                });
            }
        }
        _userBI.init();
        //

        $('#txtEmpCodeBI').keyup(function () {
            var count = $('#txtEmployeeID').val().length;
            if (count == 8) {
                _userBI.getUserBI();
            } else {
                $('#txtFullNameBI').val("");
                $('#txtPositionBI').val("");
                $('#txtTeamBI').val("");
            }
        });
    </script>

    <script>
        $('#return-queue').on("click", () => {
            window.location.href = "/Guard/Queue"
        })

        function handleApproveOut(id) {
            var remarkId = "." + "remark" + "-" + id + "-" + "out"
            handleAPI("/Guard/ApproveBringOutItem", {
                id,
                remark: $(remarkId).val(),
                status: 1
            })
        }

        function handleUnapproveOut(id) {
            var remarkId = "." + "remark" + "-" + id + "-" + "out"
            handleAPI("/Guard/ApproveBringOutItem", {
                id,
                remark: $(remarkId).val(),
                status: 0
            })
        }

        function handleApproveReturn(id) {
            var remarkId = "." + "remark" + "-" + id + "-" + "return"
            handleAPI("/Guard/ApproveBringOutItem", {
                id,
                remark: $(remarkId).val(),
                status: 1,
                ret: true
            })
        }

        function handleUnapproveReturn(id) {
            var remarkId = "." + "remark" + "-" + id + "-" + "return"
            handleAPI("/Guard/ApproveBringOutItem", {
                id,
                remark: $(remarkId).val(),
                status: 0,
                ret: true
            })
        }

        $("#guard").removeClass('collapse');
        $("#guard").removeClass('collapsed');
        $("#guard").attr("aria-expanded", "true");
        $("#queue").addClass('active');
        $("#collapseGuard").addClass('show');
        $("#collapseInOut").removeClass('collapse');
    </script>
}