@model SMS.Web.ViewModels.GuardViewModel
@{
    ViewBag.Title = "Lịch sử CNV mang hàng vào";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">LỊCH SỬ CÔNG NHÂN VIÊN MANG HÀNG VÀO</h5>
    </div>
    <!--Cột bên trái dành cho form đăng ký-->
    <div class="col-md-12 row-form">
        <div class="column form-horizontal form-left col-md-7">
            <div class="form-group row-1 input-group">
                <label class="control-label col-md-2 top-space lb">Mã CNV <span class="red">(*)</span></label>
                <div class="col-md-7 input-group">
                    <div class="top-space input-group-sm">
                        @Html.TextBoxFor(model => model.Bring_In.EmpCode, new { @id = "txtEmpCodeBI", @class = "form-control input-previous-button col-md-12", @readonly = "readonly" })
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2">Lý do <span class="red">(*)</span></label>
                <div class="col-md-10 input-group-sm">
                    @Html.TextAreaFor(model => model.Bring_In.Reason, new { @class = "form-control col-md-12", @readonly = "readonly", @style = "resize: none" })
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Ngày đăng ký <span class="red">(*)</span></label>
                <div class="col-md-3 input-group-sm">
                    <div class="input-group-sm">
                        @Html.TextBoxFor(model => model.Bring_In.EstimatedDate, new { @id = "txtEmpCodeBI", @class = "form-control input-previous-button col-md-12", @readonly = "readonly" })
                    </div>
                </div>
                <label class="control-label top-space">Giờ đăng ký <span class="red">(*)</span></label>
                <div class="col-md-2 input-group-sm">
                    <div class="input-group-sm">
                        @Html.TextBoxFor(model => model.Bring_In.EstimatedTime, new { @id = "txtEmpCodeBI", @class = "form-control input-previous-button col-md-12", @readonly = "readonly" })
                    </div>
                </div>
            </div>
        </div>

        <div class="column col-md-1 col-mid"></div>


        <!--Cột bên phải dành cho thông tin nhân viên-->
        <div class="column form-horizontal form-right col-md-4">
            <!--Ảnh profile-->
            <div class="form-group col-12 profile-img">
                <div class="img-profile">
                    <img src="~/Assets/img/the-world.jpg" />
                </div>
            </div>
            <!--Thông tin profile-->
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Họ và tên</label>
                @Html.TextBoxFor(model => model.Bring_In.FullName, new { @class = "form-control input-previous-button col-9 txtFullNameBI", @readonly = "readonly" })
            </div>
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Vị trí</label>
                @Html.TextBoxFor(model => model.Bring_In.Position, new { @class = "form-control input-previous-button col-9 txtFullNameBI", @readonly = "readonly" })
            </div>
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Phòng ban</label>
                @Html.TextBoxFor(model => model.Bring_In.Team, new { @class = "form-control input-previous-button col-9 txtFullNameBI", @readonly = "readonly" })
            </div>
        </div>
    </div>
</div>
<br />
<div class="bottom">
    <div style="width:100%; overflow-x:auto">
        <!--Bảng dữ liệu Về sớm-->
        <table class="table table-hover table-bordered" id="LE-table">
            <!--Tiêu đề cột-->
            <thead>
                <tr class="table-heading">
                    <th>Tài sản</th>
                    <th>Thông số</th>
                    <th>Số lượng</th>
                    <th>Đơn vị</th>
                    <th>Loại hàng</th>
                    <th colspan="2">Mang trở ra</th>
                    <th colspan="4">TM phê duyệt</th>
                    <th colspan="4">SMT phê duyệt</th>
                    <th colspan="4">FST phê duyệt</th>
                    <th colspan="4">Bảo vệ xác nhận mang vào</th>
                    <th colspan="4">Bảo vệ xác nhận mang ra</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Bring_In_Items)
                {
                    <tr>
                        <td>@item.Item</td>
                        <td>@item.Serial</td>
                        <td>@item.Quantity</td>
                        <td>@item.Unit</td>
                        <td>
                            @if (@item.AssetType == 0)
                            {
                                <span>Hàng thường</span>
                            }
                            else if (item.AssetType == 1)
                            {
                                <span>Hàng IT</span>
                            }
                            else
                            {
                                <span>Hàng độc hại</span>
                            }
                        </td>
                        <td>
                            @if (@item.IsReturn == true)
                            {
                                <i class="fas fa-check-square" style="color: dodgerblue" title="Có mang trở ra"></i>
                            }
                            else if (@item.IsReturn == false)
                            {
                                <i class="fas fa-times" style="color: red" title="Không mang trở ra"></i>
                            }
                        </td>
                        <td>@item.ReturnDate @item.ReturnTime</td>
                        <td>@item.ApprovedBy</td>
                        <td>
                            @if (item.ApprovedStatus == 1)
                            {
                                <i class="fas fa-check-square" title="Đã phê duyệt"></i>
                            }
                            else if (item.ApprovedStatus == 0)
                            {
                                <i class="fas fa-times" style="color: red" title="Không phê duyệt"></i>
                            }
                        </td>
                        <td>@item.ApproverRemark</td>
                        <td>@item.ApprovedDate</td>
                        <td>@item.ITT</td>
                        <td>
                            @if (item.ITT_Status == 1)
                            {
                                <i class="fas fa-check-square" title="Đã phê duyệt"></i>
                            }
                            else if (item.ITT_Status == 0)
                            {
                                <i class="fas fa-times" style="color: red" title="Không phê duyệt"></i>
                            }
                        </td>
                        <td>@item.ITT_Remark</td>
                        <td>@item.ITT_Date</td>
                        @*<td>@item.SMT</td>
                            <td>
                                @if (item.SMT_Status == 1)
                                {
                                    <i class="fas fa-check-square"></i>
                                }
                                else if (item.SMT_Status == 0)
                                {
                                    <i class="fas fa-times" style="color: red"></i>
                                }
                            </td>
                            <td>@item.SMT_Remark</td>
                            <td>@item.SMT_Date</td>*@
                        <td>@item.FST</td>
                        <td>
                            @if (item.FST_Status == 1)
                            {
                                <i class="fas fa-check-square" title="Đã phê duyệt"></i>
                            }
                            else if (item.FST_Status == 0)
                            {
                                <i class="fas fa-times" style="color: red" title="Không phê duyệt"></i>
                            }
                        </td>
                        <td>@item.FST_Remark</td>
                        <td>@item.FST_Date</td>
                        <td>@item.GuardIn</td>
                        <td>
                            @if (@item.GuardStatusIn == 1)
                            {
                                <i class="fas fa-check-square" title="Đã xác nhận"></i>
                            }
                            else if (@item.GuardStatusIn == 0)
                            {
                                <i class="fas fa-times" style="color: red" title="Không xác nhận"></i>
                            }
                        </td>
                        <td>
                            @item.GuardRemarkIn
                        </td>
                        <td>@item.GuardDateIn</td>
                        <td>@item.GuardOut</td>
                        <td>
                            @if (@item.GuardStatusOut == 1)
                            {
                                <i class="fas fa-check-square" title="Đã xác nhận"></i>
                            }
                            else if (@item.GuardStatusOut == 0)
                            {
                                <i class="fas fa-times" style="color: red" title="Không xác nhận"></i>
                            }

                        </td>
                        <td>
                            @item.GuardRemarkOut
                        </td>
                        <td>@item.GuardDateOut</td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="text-align: center">
        <label id="return-history" class="btn-cancel btn top-space btn-sm" title="Trở lại" style="cursor: pointer">
            <i class="fas fa-arrow-left"></i>&nbsp; Trở lại
        </label>
    </div>
</div>

@section scripts{
    <script src="~/Assets/js/jquery-confirm.js"></script>
    <script src="~/Assets/js/utils.js"></script>
    <script>
        $('#return-history').on("click", () => {
            window.location.href = "/Guard/History"
        })

        function handleApproveIn(id) {
            var remarkId = "." + "remark" + "-" + id + "-" + "in"
            handleAPI("/Guard/ApproveBringInItem", {
                id,
                remark: $(remarkId).val(),
                status: 1
            }, true)
        }

        function handleUnapproveIn(id) {
            var remarkId = "." + "remark" + "-" + id + "-" + "in"
            handleAPI("/Guard/ApproveBringInItem", {
                id,
                remark: $(remarkId).val(),
                status: 0
            }, true)
        }

        function handleApproveOut(id) {
            var remarkId = "." + "remark" + "-" + id + "-" + "out"
            handleAPI("/Guard/ApproveBringInItem", {
                id,
                remark: $(remarkId).val(),
                status: 1,
                ret: true
            })
        }

        function handleUnapproveOut(id) {
            var remarkId = "." + "remark" + "-" + id + "-" + "out"
            handleAPI("/Guard/ApproveBringInItem", {
                id,
                remark: $(remarkId).val(),
                status: 0,
                ret: true
            })
        }

        $("#guard").removeClass('collapse');
        $("#guard").removeClass('collapsed');
        $("#guard").attr("aria-expanded", "true");
        $("#guard_history").addClass('active');
        $("#collapseGuard").addClass('show');
        $("#collapseInOut").removeClass('collapse');
    </script>
}