@model SMS.Web.ViewModels.GuardViewModel

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="form-horizontal">
    <div class="card-header py-3">
        <h5 class="m-0 font-weight-bold text-primary">BẢO VỆ XÁC NHẬN KHÁCH MANG HÀNG VÀO - RA</h5>
    </div>
    <!--Cột bên trái dành cho form đăng ký-->
    <div class="col-md-12 row-form">
        <div class="column form-horizontal form-left col-md-7">
            <div class="form-group row-1 input-group">
                <label class="control-label col-2 top-space lb">Mã CNV</label>
                <div class="col-md-3 input-group">
                    <div class="top-space input-group-sm">
                        <input type="hidden" value="@Model.Guest.ID" id="txtID" />
                        <input class="form-control input-previous-button col-md-12" id="txtEmployeeID" value="@Model.Guest.EmployeeID" readonly />
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2">Lý do</label>
                <div class="col-md-10">
                    <div class="input-group-sm">
                        <textarea readonly class="form-control col-md-12" style="resize: none" id="txtPurpose">@Model.Guest.Purpose</textarea>
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Giờ vào</label>
                <div class="col-3 input-group-sm">
                    <input class="form-control input-previous-button datepicker" id="txtEstimatedDateIn" placeholder="Ngày" value="@Model.Guest.EstimatedDateIn" readonly />
                </div>
                <div class="col-2 input-group-sm">
                    <input class="form-control input-previous-button timepicker" id="txtEstimatedTimeIn" placeholder="Giờ" value="@Model.Guest.EstimatedTimeIn" readonly />
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Giờ ra</label>
                <div class="col-3 input-group-sm">
                    <input class="form-control input-previous-button datepicker" id="txtEstimatedDateOut" placeholder="Ngày" value="@Model.Guest.EstimatedDateOut" readonly />
                </div>
                <div class="col-2 input-group-sm">
                    <input class="form-control input-previous-button timepicker" id="txtEstimatedTimeOut" placeholder="Giờ" value="@Model.Guest.EstimatedTimeOut" readonly />
                </div>
            </div>
        </div>

        <div class="column col-md-1 col-mid"></div>


        <!--Cột bên phải dành cho thông tin nhân viên-->
        <div class="column form-horizontal form-right col-md-4">
            <!--Ảnh profile-->
            <div class="form-group col-12 profile-img">
                <div class="img-profile">
                    <img id="img-profile" src="~/Assets/img/the-world.jpg" />
                </div>
            </div>
            <!--Thông tin profile-->
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Họ và tên</label>
                <input readonly class="form-control input-previous-button col-9" id="txtFullNameBI" value="@Model.Guest.EmployeeName" />
            </div>
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Vị trí</label>
                <input readonly class="form-control input-previous-button col-9" id="txtPositionBI" value="@Model.Guest.Position" />
            </div>
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Phòng ban</label>
                <input readonly class="form-control input-previous-button col-9" id="txtTeamBI" value="@Model.Guest.Team" />
            </div>
        </div>
    </div>
</div>

<br />

<div class="bottom">
    <div style="width:100%; overflow-x:auto">
        <!--Bảng dữ liệu Về sớm-->
        <table class="table table-hover table-bordered" id="guest-table">
            <!--Tiêu đề cột-->
            <thead>
                <tr class="table-heading">
                    <th>Khách</th>
                    <th>Số thẻ</th>
                    <th>Họ tên</th>
                    <th>File đính kèm</th>
                    <th>CMND/Hộ chiếu</th>
                    <th>Visa</th>
                    <th>Nơi ở hiện tại</th>
                    <th>Công ty</th>
                    <th>Số người</th>
                    <th>Lí do</th>
                    <th>Số xe</th>
                    <th>Giờ vào</th>
                    <th colspan="4">Bảo vệ xác nhận vào</th>
                    <th>Giờ ra</th>
                    <th colspan="4">Bảo vệ xác nhận ra</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>
                        @if (Model.Guest.Type == 0)
                        {
                            @: Khách
                        }
                        else if (Model.Guest.Type == 1)
                        {
                            @:Nhà thầu
                        }
                        else
                        {
                            @:Lái xe
                        }
                    </td>
                    <td>@Model.Guest.KVPNo</td>
                    <td>@Model.Guest.FullName</td>
                    <td>
                        <a class="btn btnDownloadFile btn-primary btn-standard" href="/Guard/GuestFileDownload?filename=@Model.Guest.FileRedirectURL" target="_blank" title="Tải danh sách khách">
                            <i class="fas fa-download" style="margin-left:-3.5px;"></i>
                        </a>
                    </td>
                    <td>@Model.Guest.IDCard</td>
                    <td>@Model.Guest.Visa</td>
                    <td>@Model.Guest.Hotel</td>
                    <td>@Model.Guest.Company</td>
                    <td>@Model.Guest.NumbersOfPerson</td>
                    <td>@Model.Guest.Purpose</td>
                    <td>@Model.Guest.TransportNo</td>
                    <td>@Model.Guest.EstimatedDateIn @Model.Guest.EstimatedTimeIn</td>
                    @if (Model.Guest.GuardStatusIn != null)
                    {
                        <td>@Model.Guest.GuardIn</td>
                        if (Model.Guest.GuardStatusIn.Value == 0)
                        {
                            <td><i class="fas fa-times" style="color:red"></i></td>
                        }
                        else if (Model.Guest.GuardStatusIn.Value == 1)
                        {
                            <td><i class="fas fa-check-square"></i></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@Model.Guest.GuardRemarkIn</td>
                        <td>@Model.Guest.GuardDateIn</td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    }
                    <td>@Model.Guest.EstimatedDateOut @Model.Guest.EstimatedTimeOut</td>
                    @if (Model.Guest.GuardStatusOut != null)
                    {
                        <td>@Model.Guest.GuardOut</td>
                        if (Model.Guest.GuardStatusOut.Value == 0)
                        {
                            <td><i class="fas fa-times" style="color:red"></i></td>
                        }
                        else if (Model.Guest.GuardStatusOut.Value == 1)
                        {
                            <td><i class="fas fa-check-square"></i></td>
                        }
                        else
                        {
                            <td></td>
                        }
                        <td>@Model.Guest.GuardRemarkOut</td>
                        <td>@Model.Guest.GuardDateOut</td>
                    }
                    else
                    {
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    }
            </tbody>
        </table>
    </div>
</div>

<br />

<div class="bottom">
    <div style="width:100%; overflow-x:auto">
        <!--Bảng dữ liệu Về sớm-->
        <table class="table table-hover table-bordered" id="LE-table">
            <!--Tiêu đề cột-->
            <thead>
                <tr class="table-heading">
                    <th>Tên tài sản</th>
                    <th>Số serial</th>
                    <th>Số lượng</th>
                    <th>Đơn vị</th>
                    <th>Loại hàng hóa</th>
                    <th colspan="2">Thời gian đem trở ra</th>
                    <th colspan="4">SMT phê duyệt</th>
                    <th colspan="4">FST phê duyệt</th>
                    <th colspan="4">Bảo vệ xác nhận mang vào</th>
                    <th colspan="4">Bảo vệ xác nhận mang ra</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Guest_Item)
                {
                    <tr>
                        <td>@item.Item</td>
                        <td>@item.Serial</td>
                        <td>@item.Quantity</td>
                        <td>@item.Unit</td>
                        <td>
                            @if (@item.AssetType == 0)
                            {
                                <span>Hàng thường</span>
                            }
                            else if (item.AssetType == 1)
                            {
                                <span>Hàng IT</span>
                            }
                            else
                            {
                                <span>Hàng độc hại</span>
                            }
                        </td>
                        <td>
                            @if (item.IsReturn == true)
                            {
                                <i class="fas fa-check-square" style="color: dodgerblue"></i>
                            }
                            else if (item.IsReturn == false)
                            {
                                <i class="fas fa-times" style="color: red"></i>
                            }
                        </td>
                        <td>@item.ReturnDate @item.ReturnTime</td>
                        <td>@item.ITT</td>
                        <td>
                            @if (item.ITT_Status == 1)
                            {
                                <i class="fas fa-check-square" style="color: dodgerblue"></i>
                            }
                            else if (item.ITT_Status == 0)
                            {
                                <i class="fas fa-times" style="color: red"></i>
                            }
                        </td>
                        <td>@item.ITT_Remark</td>
                        <td>@item.ITT_Date</td>
                        <td>@item.FST</td>
                        <td>
                            @if (item.FST_Status == 1)
                            {
                                <i class="fas fa-check-square" style="color: dodgerblue"></i>
                            }
                            else if (item.FST_Status == 2)
                            {
                                <i class="fas fa-times" style="color: red"></i>
                            }
                        </td>
                        <td>@item.FST_Remark</td>
                        <td>@item.FST_Date</td>
                        @if (item.GuardStatusIn != null)
                        {
                            <td>@item.GuardIn</td>
                            if (item.GuardStatusIn.Value == 0)
                            {
                                <td><i class="fas fa-times" style="color:red"></i></td>
                            }
                            else if (item.GuardStatusIn.Value == 1)
                            {
                                <td><i class="fas fa-check-square"></i></td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.GuardRemarkIn</td>
                            <td>@item.GuardDateIn</td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                        @if (item.GuardStatusOut != null)
                        {
                            <td>@item.GuardOut</td>
                            if (item.GuardStatusOut.Value == 0)
                            {
                                <td><i class="fas fa-times" style="color:red"></i></td>
                            }
                            else if (item.GuardStatusOut.Value == 1)
                            {
                                <td><i class="fas fa-check-square"></i></td>
                            }
                            else
                            {
                                <td></td>
                            }
                            <td>@item.GuardRemarkOut</td>
                            <td>@item.GuardDateOut</td>
                        }
                        else
                        {
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                        }
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div style="text-align: center">
        <label id="return-history" class="btn-cancel btn top-space btn-sm" title="Trở lại" style="cursor: pointer">
            <i class="fas fa-arrow-left"></i>&nbsp; Trở lại
        </label>
    </div>
</div>

@section scripts{
    <script src="~/Assets/js/jquery-confirm.js"></script>
    <script src="~/Assets/js/utils.js"></script>

    <script>
        //user
        var _userBI = {
            init: function () {
                _userBI.registerEvent();
            },
            registerEvent: function () {
                _userBI.getUserBI();
            },
            getUserBI: function () {
                var empCode = $("#txtEmployeeID").val();
                $.ajax({
                    url: '/User/GetUserByCode?empCode=' + empCode,
                    type: "GET",
                    dataType: 'json',
                    success: function (reponse) {
                        console.log(reponse.data);
                        if (reponse.status) {
                            $('#txtFullNameBI').val(reponse.data.FullName);
                            $('#txtPositionBI').val(reponse.data.Position);
                            $('#txtTeamBI').val(reponse.data.Team.Name);
                            $("#img-profile").attr("src", `/Image/${empCode}.jpg`);
                        } else {
                            alert("Mã nhân viên không tồn tại");
                            $('#txtFullNameBI').val("");
                            $('#txtPositionBI').val(reponse.data.Position);
                            $('#txtTeamBI').val(reponse.data.Team.Name);
                            console.log(reponse.data.data);
                        }
                    },
                    error: function () {
                        $('#txtFullNameBI').val("Không tồn tại");
                        $('#txtPositionBI').val("?");
                        $('#txtTeamBI').val("?");
                        console.log(reponse.data.data);
                    }
                });
            }
        }
        _userBI.init();
        //

        $('#txtEmpCodeBI').keyup(function () {
            var count = $('#txtEmployeeID').val().length;
            if (count == 8) {
                _userBI.getUserBI();
            } else {
                $('#txtFullNameBI').val("");
                $('#txtPositionBI').val("");
                $('#txtTeamBI').val("");
            }
        });
    </script>

    <script>
        $('#return-history').on("click", () => {
            window.location.href = "/Guard/History"
        })

        function handleApproveIn(itemId) {
            var remarkId = "." + "remark" + "-" + itemId + "-" + "in"
            handleAPI("/Guard/ApproveGuestItemIn", {
                id: $("#txtID").val(),
                itemId,
                remark: $(remarkId).val(),
                status: 1
            }, true)
        }

        function handleUnapproveIn(itemId) {
            var remarkId = "." + "remark" + "-" + itemId + "-" + "in"
            handleAPI("/Guard/ApproveGuestItemIn", {
                id: $("#txtID").val(),
                itemId,
                remark: $(remarkId).val(),
                status: 0
            }, true)
        }

        function handleApproveOut(itemId) {
            var remarkId = "." + "remark" + "-" + itemId + "-" + "out"
            handleAPI("/Guard/ApproveGuestItemOut", {
                id: $("#txtID").val(),
                itemId,
                remark: $(remarkId).val(),
                status: 1,
            }, true)
        }

        function handleUnapproveOut(itemId) {
            var remarkId = "." + "remark" + "-" + itemId + "-" + "out"
            handleAPI("/Guard/ApproveGuestItemOut", {
                id: $("#txtID").val(),
                itemId,
                remark: $(remarkId).val(),
                status: 0,
            }, true)
        }

        $("#guard").removeClass('collapse');
        $("#guard").removeClass('collapsed');
        $("#guard").attr("aria-expanded", "true");
        $("#guard_history").addClass('active');
        $("#collapseGuard").addClass('show');
        $("#collapseInOut").removeClass('collapse');
    </script>

    <script>
        $(".approveIn").on("click", function () {
            var self = this;

            $.confirm({
                title: "Thông báo",
                content: function () {
                    var alert = this;
                    return $.ajax({
                        url: "/Guard/ApproveGuest",
                        method: "POST",
                        data: {
                            id: $('#txtID').val(),
                            remark: $(self).closest("tr").find(".remark").val(),
                            status: 1
                        },
                        success: (response) => {
                            if (response.GuardStatusIn == 1) {
                                window.location.reload();
                            }
                            else {
                                alert.setContent("Lỗi hệ thống");
                            }
                        }
                    })
                }
            })
        })
        $(".unapproveIn").on("click", function () {
            var self = this;

            $.confirm({
                title: "Thông báo",
                content: function () {
                    var alert = this;
                    return $.ajax({
                        url: "/Guard/ApproveGuest",
                        method: "POST",
                        data: {
                            id: $('#txtID').val(),
                            remark: $(self).closest("tr").find(".remark").val(),
                            status: 0
                        },
                        success: (response) => {
                            if (response.GuardStatusIn == 0) {
                                window.location.reload();
                            }
                            else {
                                alert.setContent("Lỗi hệ thống");
                            }
                        }
                    })
                }
            })
        })

        $(".approveOut").on("click", function () {
            var self = this;

            $.confirm({
                title: "Thông báo",
                content: function () {
                    var alert = this;
                    return $.ajax({
                        url: "/Guard/ApproveGuest",
                        method: "POST",
                        data: {
                            id: $('#txtID').val(),
                            remark: $(self).closest("tr").find(".remark").val(),
                            status: 1,
                            gout: true,
                        },
                        success: (response) => {
                            if (response.GuardStatusOut == 1) {
                                window.location.reload();
                            }
                            else {
                                alert.setContent("Lỗi hệ thống");
                            }
                        }
                    })
                }
            })
        })
        $(".unapproveOut").on("click", function () {
            var self = this;

            $.confirm({
                title: "Thông báo",
                content: function () {
                    var alert = this;
                    return $.ajax({
                        url: "/Guard/ApproveGuest",
                        method: "POST",
                        data: {
                            id: $('#txtID').val(),
                            remark: $(self).closest("tr").find(".remark").val(),
                            status: 0,
                            gout: true,
                        },
                        success: (response) => {
                            if (response.GuardStatusOut == 0) {
                                window.location.reload();
                            }
                            else {
                                alert.setContent("Lỗi hệ thống");
                            }
                        }
                    })
                }
            })
        })
    </script>
}

