@model SMS.Models.EF.Guest

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles{
    <link href="~/Assets/css/jquery.timepicker.min.css" rel="stylesheet" />
    <link href="~/Assets/css/jquery-confirm.css" rel="stylesheet" />
}

<div class="form-horizontal">
    <div class="card-header">
        <h5 class="m-0 font-weight-bold text-primary">CHỈNH SỬA ĐĂNG KÝ KHÁCH - NHÀ THẦU</h5>
    </div>
    <!--Cột bên trái dành cho form đăng ký-->
    <div class="col-md-12 row-form">
        <div class="column form-horizontal form-left col-md-7">
            <div class="form-group row-1 input-group">
                <label class="control-label col-2 top-space lb">Mã CNV <span class="red">(*)</span></label>
                <div class="col-md-3 input-group">
                    <div class="top-space input-group-sm">
                        <input type="hidden" value="@Model.ID" id="txtID" />
                        <input class="form-control input-previous-button col-md-12" id="txtEmployeeID" value="@Model.EmployeeID" />
                    </div>
                </div>
                <label class="control-label col-1 top-space lb">Khách</label>
                <div class="col-md-3 input-group-sm">
                    <select class="form-control top-space" id="txtType">
                        <option value="0" @if (Model.Type == 0) { @: selected
                                }>
                            Khách
                        </option>
                        <option value="1" @if (Model.Type == 1) { @: selected
                                }>
                            Nhà thầu
                        </option>
                        <option value="2" @if (Model.Type == 2) { @: selected
                                }>
                            Lái xe
                        </option>
                    </select>
                </div>
                <div class="col-md-3 checkbox top-space">
                    <label style="margin-bottom: 0 !important; margin-top:.5rem">
                        @if (Model.Check_Guest.Value)
                        {
                            <label><input type="checkbox" id="txtCheck_Guest" checked /> Khách nước ngoài</label>
                        }
                        else
                        {
                            <label><input type="checkbox" id="txtCheck_Guest" /> Khách nước ngoài</label>
                        }
                    </label>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Số thẻ khách</label>
                <div class="col-md-3 input-group">
                    <div class="input-group-sm">
                        <input class="form-control input-previous-button" id="txtKVPNo" value="@Model.KVPNo" maxlength="50" />
                    </div>
                </div>
                <label class="control-label col-md-2 top-space">Họ tên khách <span class="red">(*)</span></label>
                <div class="col-5 input-group-sm">
                    <div class="input-group-sm">
                        <input class="form-control input-previous-button" id="txtEmployeeName" value="@Model.FullName" maxlength="150" />
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">CMTND/Hộ chiếu</label>
                <div class="col-md-3 input-group">
                    <div class="input-group-sm">
                        <input class="form-control input-previous-button" id="txtIDCard" value="@Model.IDCard" maxlength="250" />
                    </div>
                </div>
                <label class="control-label col-md-1 top-space">Visa</label>
                <div class="col-md-6 input-group-sm">
                    <div class="input-group-sm">
                        <input class="form-control input-previous-button" id="txtVisa" value="@Model.Visa" maxlength="200" />
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Nơi ở hiện tại</label>
                <div class="col-md-10">
                    <div class="input-group-sm">
                        <input class="form-control input-previous-button" id="txtHotel" value="@Model.Hotel" maxlength="300" />
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Công ty <span class="red">(*)</span></label>
                <div class="col-md-10">
                    <div class="input-group-sm">
                        <input class="form-control input-previous-button" id="txtCompany" value="@Model.Company" maxlength="250" />
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Số người <span class="red">(*)</span></label>
                <div class="col-md-2 input-group">
                    <div class="input-group-sm">
                        <input type="number" class="form-control input-previous-button" id="txtNumbersOfPerson" value="@Model.NumbersOfPerson" min="1" />
                    </div>
                </div>
                <a id="guest-multi-day" class="btn-info btn btn-sm" title="Đăng ký theo đoàn" style="color: white; cursor: pointer" data-toggle="collapse" data-target=".multi_day">
                    <i class="fas fa-edit"></i>&nbsp; Đăng ký Khách theo đoàn
                </a>
                <div class="multi_day collapse input-group-sm col-5">
                    <div class="form-horizontal col-12 row-add input-group-sm" id="import_file" style="padding: 1px">
                        <input class="input-group-sm" type="file" accept=".csv, application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel" id="fileRedirectUrl" placeholder="Chọn file Excel" />
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2">Lý do <span class="red">(*)</span></label>
                <div class="col-md-10">
                    <div class="input-group-sm">
                        <textarea class="form-control col-md-12" style="resize: none" id="txtPurpose">@Model.Purpose</textarea>
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Số xe</label>
                <div class="col-md-5">
                    <div class="input-group-sm">
                        <input class="form-control input-previous-button" id="txtTransportNo" value="@Model.TransportNo" maxlength="100" />
                    </div>
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Giờ vào <span class="red">(*)</span></label>
                <div class="col-3 input-group-sm">
                    <input class="form-control input-previous-button datepicker" id="txtEstimatedDateIn" placeholder="Ngày" value="@Model.EstimatedDateIn" autocomplete="off" />
                </div>
                <div class="col-2 input-group-sm">
                    <input class="form-control input-previous-button timepicker" id="txtEstimatedTimeIn" placeholder="Giờ" value="@Model.EstimatedTimeIn" type="time" />
                </div>
            </div>

            <div class="form-group input-group">
                <label class="control-label col-md-2 top-space">Giờ ra <span class="red">(*)</span></label>
                <div class="col-3 input-group-sm">
                    <input class="form-control input-previous-button datepicker" id="txtEstimatedDateOut" placeholder="Ngày" value="@Model.EstimatedDateOut" autocomplete="off" />
                </div>
                <div class="col-2 input-group-sm">
                    <input class="form-control input-previous-button timepicker" id="txtEstimatedTimeOut" placeholder="Giờ" value="@Model.EstimatedTimeOut" type="time" />
                </div>
            </div>
        </div>

        <div class="column col-md-1 col-mid"></div>


        <!--Cột bên phải dành cho thông tin nhân viên-->
        <div class="column form-horizontal form-right col-md-4">
            <!--Ảnh profile-->
            <div class="form-group col-12 profile-img">
                <div class="img-profile">
                    <img src="~/Assets/img/the-world.jpg" />
                </div>
            </div>
            <!--Thông tin profile-->
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Họ và tên</label>
                <input readonly class="form-control input-previous-button col-9" id="txtFullNameBI" value="@Model.EmployeeName" />
            </div>
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Vị trí</label>
                <input readonly class="form-control input-previous-button col-9" id="txtPositionBI" value="@Model.Position" />
            </div>
            <div class="form-group input-group profile input-group-sm">
                <label class="control-label col-md-3">Phòng ban</label>
                <input readonly class="form-control input-previous-button col-9" id="txtTeamBI" value="@Model.Team" />
            </div>
        </div>
    </div>
</div>

<br />

<div class="note col-12">
    <span class="control-label" style="color: dodgerblue"><u>Lưu ý</u>: <span style="color: #858796">&nbsp;Các trường <span style="color:red">(*)</span> bắt buộc phải nhập đầy đủ.</span></span>
</div>

<br />

<div class="bottom collapse show">
    <div class="form-horizontal col-12 row-add" id="guest-items" style="width: 100%">
        <div class="items-container">
            <table class="table-bordered table table-hover" id="guest-items">
                <thead>
                    <tr class="table-header-items">
                        <th></th>
                        <th>Tên tài sản <span class="red">(*)</span></th>
                        <th>Serial <span class="red">(*)</span></th>
                        <th>Số lượng <span class="red">(*)</span></th>
                        <th>Đơn vị <span class="red">(*)</span></th>
                        <th>Loại tài sản <span class="red">(*)</span></th>
                        <th>Mang quay lại <span class="red">(*)</span></th>
                        <th colspan="2">Thời gian quay lại</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Guest_Item)
                    {
                    <tr class="row-items">
                        <td>
                            <label class="control-label btn btn-sm delete-items">
                                <i class="fas fa-times-circle"></i>
                            </label>
                        </td>
                        <td class="input-group-sm">
                            <input type="hidden" class="itemId" value="@item.ID" />
                            <input class="form-control input-previous-button item" value="@item.Item" maxlength="250" />
                        </td>
                        <td class="input-group-sm">
                            <input class="form-control input-previous-button serial" value="@item.Serial" maxlength="250" />
                        </td>
                        <td class="input-group-sm">
                            <input type="number" class="form-control input-previous-button quantity" value="@item.Quantity" min="0" />
                        </td>
                        <td class="input-group-sm">
                            <input class="form-control input-previous-button unit" value="@item.Unit" maxlength="50" />
                        </td>
                        <td class="input-group-sm">
                            <select class="form-control input-previous-button assetType">
                                <option value="0" @if (item.AssetType == 0) { @: selected
                                        }>
                                    Hàng thường
                                </option>
                                <option value="1" @if (item.AssetType == 1) { @: selected
                                        }>
                                    Hàng IT
                                </option>
                                <option value="2" @if (item.AssetType == 2) { @: selected
                                        }>
                                    Hàng độc hại
                                </option>
                            </select>
                        </td>
                        <td class="input-group-sm">
                            <select class="form-control input-previous-button isReturn">
                                @if (item.IsReturn.HasValue && item.IsReturn.Value)
                                {
                                    <option value="true" selected>Có</option>
                                    <option value="false">Không</option>
                                }
                                else
                                {
                                    <option value="true">Có</option>
                                    <option value="false" selected>Không</option>
                                }
                            </select>
                        </td>
                        <td class="input-group-sm">
                            <input class="form-control input-previous-button returnDate datepicker" placeholder="Ngày" value="@item.ReturnDate" autocomplete="off" />
                        </td>
                        <td class="input-group-sm">
                            <input class="form-control input-previous-button returnTime timepicker" placeholder="Giờ" value="@item.ReturnTime" type="time" />
                        </td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <div style="text-align: center">
        <label id="add-row-items" class="btn-primary btn top-space btn-sm" title="Thêm hàng hóa khác" style="cursor: pointer; margin-top:8px;">
            <i class="fas fa-plus"></i>&nbsp; Thêm tài sản
        </label>

        <button id="guest-confirm" class="btn-success btn btn-sm" type="submit" title="Đăng ký mang hàng vào" style="cursor: pointer">
            <i class="fas fa-edit"></i>&nbsp; Cập nhật
        </button>
    </div>
</div>

@section scripts{
    <script src="~/Assets/js/jquery.timepicker.min.js"></script>
    <script src="~/Assets/js/jquery-confirm.js"></script>
    <script>
        $("#add-row-items").off('click').on('click', function (e) {
            var html = `<tr class="row-items">
                            <td>
                                <label class="control-label btn btn-sm delete-items"><i class="fas fa-times-circle"></i></label>
                            </td>
                            <td class="input-group-sm">
                                <input class="form-control input-previous-button item" maxlength="250" />
                            </td>
                            <td class="input-group-sm">
                                <input class="form-control input-previous-button serial" maxlength="250" />
                            </td>
                            <td class="input-group-sm">
                                <input type="number" class="form-control input-previous-button quantity" min="0" />
                            </td>
                            <td class="input-group-sm">
                                <input class="form-control input-previous-button unit" maxlength="50" />
                            </td>
                            <td class="input-group-sm">
                                <select class="form-control input-previous-button assetType">
                                    <option value="0" selected>Hàng thường</option>
                                    <option value="1">Hàng IT</option>
                                    <option value="2">Hàng độc hại</option>
                                </select>
                            </td>
                            <td class="input-group-sm">
                                <select class="form-control input-previous-button isReturn">
                                    <option value="true" selected>Có</option>
                                    <option value="false">Không</option>
                                </select>
                            </td>
                            <td class="input-group-sm">
                                <input class="form-control datepicker returnDate" placeholder="Ngày" autocomplete="off"/>
                            </td>
                            <td class="input-group-sm">
                                <input class="form-control timepicker returnTime" placeholder="Giờ" type="time"/>
                            </td>
                        </tr>`;
            $('#guest-items > tbody:last-child').append(html)

            $('.datepicker').datepicker({
                dateFormat: 'dd/mm/yy'
            });

            $("#guest-items").on("click", ".delete-items", function () {
                $(this).closest(".row-items").remove();
            });
        });
        $("#guest-items").on("click", ".delete-items", function () {
            $(this).closest(".row-items").remove();
        });

        $('.datepicker').datepicker({
            dateFormat: 'dd/mm/yy'
        });


        //Create
        $('#guest-confirm').on("click", (event) => {
            event.preventDefault();
            var data = new FormData();
            var guestObject = {};
            guestObject.ID = $('#txtID').val();
            guestObject.EmployeeID = $('#txtEmployeeID').val();
            guestObject.Type = $('#txtType').val();
            guestObject.Check_Guest = $('#txtCheck_Guest').is(':checked') ? true : false;
            guestObject.IDCard = $('#txtIDCard').val();
            guestObject.Company = $('#txtCompany').val();
            guestObject.NumbersOfPerson = $('#txtNumbersOfPerson').val();
            guestObject.Visa = $('#txtVisa').val();
            guestObject.Hotel = $('#txtHotel').val();
            guestObject.Purpose = $('#txtPurpose').val();
            guestObject.TransportNo = $('#txtTransportNo').val();
            guestObject.FullName = $('#txtEmployeeName').val();
            guestObject.EstimatedDateIn = $('#txtEstimatedDateIn').val();
            guestObject.EstimatedTimeIn = $('#txtEstimatedTimeIn').val();
            guestObject.EstimatedTimeOut = $('#txtEstimatedTimeOut').val();
            guestObject.EstimatedDateOut = $('#txtEstimatedDateOut').val();
            guestObject.KVPNo = $('#txtKVPNo').val();
            guestObject.TransportNo = $('#txtTransportNo').val();
            guestObject.EmployeeName = $('#txtFullNameBI').val();
            guestObject.Position = $('#txtPositionBI').val();
            guestObject.Team = $('#txtTeamBI').val();
            guestObject.Guest_Item = [];

            $(".row-items").each((index, item) => {
                var guest_Item = {};
                guest_Item.ID = $(item).find('input[class*=itemId]').val();
                guest_Item.CatID = $('#txtID').val();
                guest_Item.Item = $(item).find('input[class*=item]').val();
                guest_Item.Serial = $(item).find('input[class*=serial]').val();
                guest_Item.Quantity = $(item).find('input[class*=quantity]').val();
                guest_Item.Unit = $(item).find('input[class*=unit]').val();
                guest_Item.AssetType = $(item).find('select[class*=assetType]').val();
                guest_Item.IsReturn = $(item).find('select[class*=isReturn]').val();
                guest_Item.ReturnDate = $(item).find('input[class*=returnDate]').val();
                guest_Item.ReturnTime = $(item).find('input[class*=returnTime]').val();

                guestObject.Guest_Item.push(guest_Item);
            })
            data.append("guest", JSON.stringify(guestObject));
            data.append("file", $('#fileRedirectUrl')[0].files[0])
            console.log(guestObject);
            $.confirm({
                title: "Thông báo",
                content: function () {
                    var self = this;
                    return $.ajax({
                        url: "/Guest/Edit",
                        method: "POST",
                        data: data,
                        processData: false,
                        contentType: false,
                        success: function (mess) {
                            if (mess === "Success") {
                                window.location.href = "/Guest/History"
                            }
                            else {
                                self.setContent(mess);
                            }
                        }
                    })
                }
            })
        });

        $("#guest").removeClass('collapse');
        $("#guest").removeClass('collapsed');
        $("#guest").attr("aria-expanded", "true");
        $("#guest-history").addClass('active');
        $("#collapseGuest").addClass('show');
        $("#collapseInOut").removeClass('collapse');
    </script>
}